<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>公司详情</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/jiefabao/gs_info.css">
</head>
<style>
</style>

<body>
    <div class="gx_header">

        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="index.html"> 首页</a>
                        </li>
                        <li>
                            <a href=""> 任务大厅</a>
                        </li>
                        <li>
                            <a href=""> 店铺管理</a>
                        </li>
                        <li>
                            <a href=""> 成功案例</a>
                        </li>
                        <li>
                            <a href=""> 财务管理</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">


        <div class="gx_container">

            <div class="gx_section1">

                <div class="gx_left">
                    <div class="gx_gs_info clearfix">
                        <div class="gx_gs_title">
                            广西金岸网络科技有限公司
                            <a href="" class="gx_share pull_right">分享</a>
                        </div>
                        <div class="gx_gs_logo">
                            <div class="img_box">
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                            </div>
                            <a href="" class="gy">直接雇佣</a>
                            <a href="" class="gt">立即沟通</a>
                        </div>
                        <div class="gx_gs_xx">
                            <div class="gs_jj">
                                简介：广西金岸科技(gxjinan.com)是国内领先的网络推广营销平台、电子商务服务提供商,致力于打造商务培训基地。联系电话:0771-3818151 商城运营|商城托管|产品分销|电商培训...
                            </div>
                            <div class="gs_dq">
                                地区：广西壮族自治区 南宁市 西乡塘区
                            </div>
                            <div class="gs_zy">
                                主营：商城运营|商城托管|产品分销|电商培训...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gx_right">
                    <div class="gx_xy clearfix">
                        <div class="gx_gs_title">
                            实力&信用证书
                        </div>
                        <div class="gx_cjl">
                            <ul>
                                <li>
                                    <div class="gx_cjl_num">￥3.99万</div>
                                    <div class="gx_cjl_title">交易总金额</div>
                                </li>
                                <li>
                                    <div class="gx_cjl_num">￥3.99万</div>
                                    <div class="gx_cjl_title">交易总金额</div>
                                </li>
                                <li>
                                    <div class="gx_cjl_num">￥3.99万</div>
                                    <div class="gx_cjl_title">交易总金额</div>
                                </li>
                                <li>
                                    <div class="gx_cjl_num">￥3.99万</div>
                                    <div class="gx_cjl_title">交易总金额</div>
                                </li>
                            </ul>
                        </div>
                        <div class="gx_bz">
                            <div class="gx_bz_left">
                                <img src="../../img/jiefabao/gs_info/bz.jpg" alt="">
                                <div>有保障</div>
                            </div>
                            <div class="gx_bz_right">
                                <div>真实身份：
                                    <span class="gz_rz">个人认证</span>
                                    <span class="gz_rz">银行认证</span>
                                </div>
                                <div>联系可用：
                                    <span class="gz_rz">邮箱认证</span>
                                    <span class="gz_rz">手机认证</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="gx_section2">
                <div class="gx_left">
                    <div class="gx_jjpj">
                        <div class="gx_jjpj_title">
                            交易评价
                            <a href="" class="gx_jjpj_more">更多</a>
                        </div>
                        <div class="gx_jjpj_list">
                            <ul>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="../../img/jiefabao/gs_info/list.jpg" alt="">
                                        </div>
                                        <div>
                                            <span>价格面议</span>
                                            <span>成交量（12）</span>
                                        </div>
                                        <div>
                                            PPT制作
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gx_right">
                    <div class="gx_tj">
                        <div class="gx_tj_title">推荐案例</div>
                        <div class="gx_tj_list">
                            <ul>
                                <li>
                                    <a href="">
                                        <div class="gx_tjal">
                                            <img src="../../img/jiefabao/index/23.jpg" alt="">
                                        </div>
                                        <div class="gx_tj_name">公司整体VI设计</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="gx_tjal">
                                            <img src="../../img/jiefabao/index/23.jpg" alt="">
                                        </div>
                                        <div class="gx_tj_name">公司整体VI设计</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="gx_tjal">
                                            <img src="../../img/jiefabao/index/23.jpg" alt="">
                                        </div>
                                        <div class="gx_tj_name">公司整体VI设计</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved </div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/youdaoSlides/js/jquery-1.10.1.min.js"></script>

    <script>
    </script>
</body>

</html>