<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>接发包首页</title>
    <link rel="stylesheet" href="../../lib/youdaoSlides/css/idangerous.swiper.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/jiefabao/index.css">
</head>


<body>
    <div class="gx_header">

        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="./index.html"> 首页</a>
                        </li>
                        <li>
                            <a href=""> 任务大厅</a>
                        </li>
                        <li>
                            <a href=""> 店铺管理</a>
                        </li>
                        <li>
                            <a href=""> 成功案例</a>
                        </li>
                        <li>
                            <a href=""> 财务管理</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main gx_bg_white">
        <div class="gx_container gx_text-right">
            <a href="" class="gx_fb_btn">发布项目</a>
        </div>
        <div class="gx_jfb_slides">
            <!-- slides start -->

            <div id="slides">
                <div class="slides_container">
                    <div class="slide_item">
                        <img src="../../img/jiefabao/index/jfb_index_03_01.jpg" width="" height="" alt="">
                    </div>
                    <div class="slide_item">
                        <img src="../../img/jiefabao/index/jfb_index_03_01.jpg" width="" height="" alt="">
                    </div>
                    <div class="slide_item">
                        <img src="../../img/jiefabao/index/jfb_index_03_01.jpg" width="" height="" alt="">
                    </div>

                </div>
                <div class="slideControl">

                    <ul class="pagination">

                        <li class="">
                            <a href="#" rel="0"></a>
                        </li>

                        <li class="">
                            <a href="#" rel="1"></a>
                        </li>

                        <li class="">
                            <a href="#" rel="2"></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- slides end -->
        </div>

        <div class="gx_container gx_jfb_panle">
            <div class="gx_jfb_header">
                <div>任务需求</div>
                <a href="" class="gx_jfb_more">更多&gt;</a>
            </div>
            <div class="gx_jfb_body">
                <div class="gx_jfb_content">
                    <div class="gx_list">
                        <ul class="gx_br">
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_list">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_title">平面设计（设计餐饮类）</div>
                                    <div class="gx_subtitle clearfix">
                                        <div class="gx_col_30 gx_lx">设计行业</div>
                                        <div class="gx_col_30 gx_text-red">￥500~1000</div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/person.png" alt=""> 2人
                                        </div>
                                        <div class="gx_col_20 gx_fz_14 gx_fwb">
                                            <img src="../../img/jiefabao/index/rili.png" alt=""> 21天
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gx_jfb_footer">
                <img class="pull_right" width="" src="../../img/jiefabao/index/1.jpg" alt="">

                <div class="gx_zxdt">最新动态</div>
                <ul class="gx_zxdt_list">
                    <li>
                        <div class="gx_col_50">
                            <a href="">
                                <span> 金华酒店：</span>
                                <span>广西金华酒店婚礼拍摄</span>
                            </a>
                        </div>
                        <div class="gx_col_50">
                            <a href="">
                                <span> 金华酒店：</span>
                                <span>广西金华酒店婚礼拍摄</span>
                            </a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


    </div>
    <div class="gx_bg_f5f5f5">
        <div class="gx_container">
            <div class="gx_tj_title">推荐服务商/店铺/服务</div>
            <div class="picScroll-left">
                <div class="hd">
                    <a class="next button-next"></a>
                    <a class="prev button-prev"></a>
                </div>
                <div class="bd">
                    <ul class="picList" style="">
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                        <li class="">
                            <div class="gx_qy_logo">
                                <img src="../../img/jiefabao/index/2.jpg" alt="">
                            </div>
                            <div class="gx_qy_name">锤子科技1</div>
                            <p class="gx_qy_content">
                                锤子科技是一家制造移动互联网终端设备的公司,公司的使命是用完美主义的工匠精神,打造用户体验一流的数码消费类产品(智能手机为主),改善人们的生活质量。</p>
                            <a href="" class="gx_qy_ck">查看详情</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gx_qy_more">查看更多&gt;</div>
        </div>
    </div>
    <div class="gx_container">
        <div class="gx_tj_title">成功案例</div>
        <div class="picScroll-left2">
            <div class="hd2">
                <a class="next button-next"></a>
                <a class="prev button-prev"></a>
            </div>
            <div class="bd2">
                <ul>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="">
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                        <div class="gx_cgal">
                            <a href="">
                                <div class="img_box">
                                    <img src="../../img/jiefabao/index/23.jpg" alt="">
                                </div>
                                <div class="gx_qy_name">公司整体VI设计</div>
                                <div class="gx_qy_mask">
                                    <p class="gx_cgj">成功价：￥5000</p>
                                    <p class="gx_zbz">中标者：广西XX网络公司</p>
                                    <div class="gx_qy_name">公司整体VI设计</div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="gx_footer">

        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved</div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>
    <script src="../../lib/youdaoSlides/js/idangerous.swiper.min.js"></script>
    <script src="../../lib/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../../lib/slides.jquery.js"></script>
    <script>
        jQuery(function () {
            // slides start
            jQuery('#slides').slides({
                container: 'slides_container',
                preload: true,
                play: 4000,
                pause: 1500,
                hoverPause: true,
                effect: 'slide',
                slideSpeed: 850,
            });
            // slides end


            jQuery(".picScroll-left").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                autoPage: true,
                effect: "left",
                autoPlay: true,
                vis: 4
            });
            jQuery(".picScroll-left2").slide({
                titCell: ".hd2 ul",
                mainCell: ".bd2 ul",
                autoPage: true,
                effect: "left",
                autoPlay: true,
                vis: 4
            });

        });
    </script>
</body>

</html>