<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>任务大厅</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/jiefabao/rwdt.css">
</head>
<style>
</style>

<body>
    <div class="gx_header">

        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="index.html"> 首页</a>
                        </li>
                        <li>
                            <a href=""> 任务大厅</a>
                        </li>
                        <li>
                            <a href=""> 店铺管理</a>
                        </li>
                        <li>
                            <a href=""> 成功案例</a>
                        </li>
                        <li>
                            <a href=""> 财务管理</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">

        <div class=" gx_bg_white gx_text-right">
            <div class="gx_container">
                <a href="" class="gx_fb_btn">发布项目</a>
            </div>

        </div>
        <div class="gx_banner">
            <img src="../../img/jiefabao/rwdt/banner.jpg" width="100%" alt="">
        </div>

        <div class="gx_container gx_mtb30 clearfix">
            <div class="gx_left">
                <div class="gx_tab">
                    <div class="gx_list">
                        <span> 地区：</span>
                        <ul>
                            <li class="on">
                                <a href="">广西</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_list">
                        <span> 任务分类：</span>
                        <ul>
                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li class="">
                                <a href="">设计</a>
                            </li>
                            <li class="">
                                <a href="">开发</a>
                            </li>
                            <li class="">
                                <a href="">文案</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_list">
                        <span> 规模：</span>
                        <ul>
                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li class="">
                                <a href="">单件悬赏</a>
                            </li>
                            <li class="">
                                <a href="">多人悬赏</a>
                            </li>
                            <li class="">
                                <a href="">计件任务</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_list">
                        <span> 任务状态：</span>
                        <ul>
                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li class="">
                                <a href="">单件悬赏</a>
                            </li>
                            <li class="">
                                <a href="">单件悬赏</a>
                            </li>
                            <li class="">
                                <a href="">单件悬赏</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_list">
                        <span>任务时间：</span>
                        <ul>
                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li class="">
                                <a href="">一周内到期</a>
                            </li>
                            <li class="">
                                <a href="">3天内到期</a>
                            </li>
                            <li class="">
                                <a href="">加急</a>
                            </li>
                            <li class="">
                                <a href="">已结束</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="gx_table">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <caption>
                            <ul class="gx_order_list">
                                <li class="on">
                                    <a href="">综合</a>
                                </li>
                                <li>
                                    <a href="">发布时间</a>
                                </li>
                                <li>
                                    <a href="">竞标人数</a>
                                </li>
                                <li>
                                    <a href="">金额</a>
                                </li>
                                <li>
                                    <a href="">最新</a>
                                </li>
                            </ul>
                            <form class="gx_search_form" action="">
                                <div class="gx_search_input">
                                    <input type="text" placeholder="搜索关键词">
                                </div>

                            </form>
                        </caption>
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">查看详情</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">查看详情</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">查看详情</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">查看详情</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">立即参与</a>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%">
                                    <div class="gx_rw_content">
                                        <div>
                                            <span class="rw_money">￥1000</span>
                                            <span class="rw_title"> 斗鱼弹幕软件开发</span>
                                            <span class="rw_new">新</span>
                                        </div>
                                        <div class="rw_rn">专注高清监控系统、手机远程监控、网络综合布线、门禁</div>
                                        <div class="">
                                            <img src="../../img/jiefabao/index/person.png" alt="">
                                            <span>2000人浏览</span>
                                            <span class="rw_tb_num">1人投标</span>
                                        </div>
                                    </div>
                                </td>
                                <td width="25%" align="center">
                                    <span class="gx_rw_time">14天6小时投稿结束</span>
                                </td>
                                <td width="15%" align="center">
                                    <a href="" class="gx_rw_ck">查看详情</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div class="gx_page">
                                        <a href="" class="prev">上一页</a>
                                        <a class="current">1</a>
                                        <a href="">2</a>
                                        <a href="">3</a>
                                        <a href="">4</a>
                                        ...
                                        <a href="">10</a>
                                        <a href="" class="next">下一页</a>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div class="gx_right">
                <div class="gx_tj">
                    <div class="gx_tj_title">推荐案例</div>
                    <div class="gx_tj_list">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="gx_tjal">
                                        <img src="../../img/jiefabao/index/23.jpg" alt="">
                                    </div>
                                    <div class="gx_tj_name">公司整体VI设计</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_tjal">
                                        <img src="../../img/jiefabao/index/23.jpg" alt="">
                                    </div>
                                    <div class="gx_tj_name">公司整体VI设计</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="gx_tjal">
                                        <img src="../../img/jiefabao/index/23.jpg" alt="">
                                    </div>
                                    <div class="gx_tj_name">公司整体VI设计</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gx_adv">
                    <img src="../../img/jiefabao/adv1.jpg" alt="">
                </div>

            </div>


        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved </div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>

    <script>
    </script>
</body>

</html>