<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>用户中心</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../lib/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../css/jiefabao/user.css">

</head>


<body>
    <div class="gx_header">
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="./index.html"> 首页</a>
                        </li>
                        <li>
                            <a href=""> 任务大厅</a>
                        </li>
                        <li>
                            <a href=""> 店铺管理</a>
                        </li>
                        <li>
                            <a href=""> 成功案例</a>
                        </li>
                        <li>
                            <a href=""> 财务管理</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>
    </div>
    <div class="gx_main">
        <div class="gx_container">

            <div class="gx_side_menu">
                <div class="gx_list">
                    <ul>
                        <li class="inactive">
                            <a href="#">
                                <img src="../../img/jiefabao/icon/5.png" alt=""> 账号信息
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../img/jiefabao/icon/4.png" alt=""> 我的项目
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../img/jiefabao/icon/msg.png" alt=""> 我的消息
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../img/jiefabao/icon/2.png" alt=""> 我的收藏
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../img/jiefabao/icon/user.png" alt=""> 个人资料

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../img/jiefabao/icon/3.png" alt=""> 第三方登陆
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="gx_right">
                <div class="gx_content ">
                    <div class="gx_title">
                        账号信息
                    </div>

                    <div class="gx_item">
                        <a href="" class="pull_right gx_eidt">修改</a>
                        <div class="gx_email">安全邮箱：
                            <span>88888888@qq.com</span>
                        </div>

                        <p class="gx_tips">
                            安全邮箱可以登录平台账号，重置密码或者其他安全验证
                        </p>

                    </div>
                    <div class="gx_item">
                        <a href="" class="pull_right gx_eidt">修改</a>
                        <div class="gx_tel">安全手机：
                            <span>182****4564</span>
                        </div>

                        <p class="gx_tips">
                            安全邮箱可以登录平台账号，重置密码或者其他安全验证
                        </p>

                    </div>
                    <div class="gx_item">
                        <a href="" class="pull_right gx_eidt">修改</a>
                        <div class="gx_password">账号密码</div>
                        <p class="gx_tips">
                            用于保护账号信息和安全登陆
                        </p>


                    </div>
                </div>
                <div class="gx_content gx_hidden">
                    <div class="gx_title">
                        我的项目
                        <a href="" class=" gx_fbxm">发布项目</a>
                    </div>

                    <div class="gx_xm_section ">

                        <div class="gx_xm_item ">
                            <img class="" src="../../img/jiefabao/icon/9.png" width="40" alt="">
                            <div class="gx_xm_content">
                                <div class="gx_fz_15">
                                    累计发出的项目

                                </div>
                                <div class="gx_xm_num">
                                    100
                                </div>
                            </div>
                        </div>

                        <div class="gx_xm_item">
                            <img class="" src="../../img/jiefabao/icon/8.png" width="40" alt="">
                            <div class="gx_xm_content">
                                <div class="gx_fz_15">
                                    累计接包的项目

                                </div>
                                <div class="gx_xm_num">
                                    100
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gx_title">
                        项目列表
                        <div class="gx_type">
                            <a href="">已完成</a>
                            <a href="">未完成</a>
                        </div>
                    </div>

                    <div class="gx_xm_list ">
                        <ul>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="gx_content gx_hidden">
                    <div class="gx_title gx_msg_tab">
                        <a href="javascript:;" class="on">
                            系统通知
                        </a>
                        <a href="javascript:;">
                            个人通知
                        </a>
                    </div>

                    <div class="gx_msg_list">
                        <ul>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_msg_list gx_hidden">
                        <ul>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网123-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                            <li>
                                <span class="pull_right">2018-3-29 10:30</span>
                                <p>南宁新闻网-南宁晚报讯（记者 韦东 通讯员 江杰）昨日上午，青秀区广园路陶陶居小区某栋6楼一居民房突然燃起大火，火势很快蔓延开来。房间和大厅火势异常凶猛，滚滚的浓烟不停地从阳台冒出。一名男子被困在房内，无法逃生，只能爬出窗外呼救，情况十分危急。关键时刻，消防官兵及时赶到，冒着大火将被困男子救出，并将大火扑灭。目前，火灾具体原因还在调查之中。</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gx_content gx_hidden">


                    <div class="gx_title">
                        我的收藏
                        <div class="gx_type">
                            <a href="">已完成</a>
                            <a href="">未完成</a>
                        </div>
                    </div>

                    <div class="gx_xm_list ">
                        <ul>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="gx_xm_name">
                                        南宁万象城AR项目
                                        <a href="">查看详情</a>
                                    </div>
                                    <div class="gx_xm_money">
                                        ￥30000
                                        <span>状态：已完成</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="gx_content gx_hidden">
                    <div class="gx_title">
                        个人资料
                    </div>

                    <form action="" class="gx_user_form">
                        <div>
                            <label for="">用户名*</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">姓名*</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">手机*</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">邮箱*</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">所在地*</label>
                        </div>
                        <div style=" margin-bottom: 15px;">
                            <select name="" class="select2">
                                <option>--省--</option>
                                <option>广西壮族自治区</option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <select name="" class="select2">
                                <option>--市--</option>
                                <option></option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <select name="" class="select2">
                                <option>--区--</option>
                                <option></option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div>
                            <label for="">个人简介*</label>
                        </div>
                        <div>
                            <textarea name="" id="" rows="5"></textarea>
                        </div>
                        <div>
                            <button class="gx_save_btn">保存</button>
                        </div>
                    </form>
                </div>

                <div class="gx_content gx_hidden">
                    <div class="gx_title">
                        第三方登陆

                    </div>

                    <div class="gx_dsf_section ">

                        <div class="gx_dsf_item ">
                            <img src="../../img/jiefabao/share-weibo.png" width="100" alt="">
                            <div>未授权</div>
                            <div>
                                账号：88888888
                            </div>
                            <a href="">获取授权</a>
                        </div>
                        <div class="gx_dsf_item ">
                            <img src="../../img/jiefabao/share_qq.png" width="100" alt="">
                            <div>未授权</div>
                            <div>
                                账号：88888888
                            </div>
                            <a href="">获取授权</a>
                        </div>
                        <div class="gx_dsf_item ">
                            <img src="../../img/jiefabao/share-weixin.png" width="100" alt="">
                            <div>未授权</div>
                            <div>
                                账号：88888888
                            </div>
                            <a href="">获取授权</a>
                        </div>

                    </div>




                </div>
            </div>


        </div>


    </div>


    <div class="gx_footer">

        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved</div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>
    <script src="../../lib/select2/dist/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.gx_list li').click(function () {
                var index = $(this).index();
                $(this).addClass('inactive').siblings('li').removeClass('inactive');
                $('.gx_content').eq(index).show().siblings('.gx_content').hide();
            })





            $('.gx_msg_tab a').click(function () {
                var index = $(this).index();
                $(this).addClass('on').siblings().removeClass('on');
                $('.gx_msg_list').eq(index).show().siblings('.gx_msg_list').hide();
            })
            $('.select2').select2({
                minimumResultsForSearch: Infinity
            });
        });




    </script>
</body>

</html>