.wy-navbar {
    top: 184px;
    position: fixed;
    padding-top: 10px;
}

.weui-navbar + .weui-tab__bd {
    padding-top: 240px;
    padding-bottom: 0;
}

.header {
    min-height: 45px;
}

.wy-xiala {
    height: 45px;
}

#menu-list {
    background: white;
    color: black;
}

#menu-list li {

    border-bottom: 1px solid silver;
}

#menu-list li.active {
    color: dodgerblue;
}

.fs_initial {
    font-size: initial !important;
}

#mingxi_box {
    position: fixed;
    top: 45px;
    width: 100%;
}

.wy_zonge p {
    text-align: center;
}

.wy_zonge {
    padding: 20px 0;
}