.wy-navbar {
    top: 45px;
    position: fixed;
}

.weui-navbar+#wy-caiwu_box.weui-tab__bd {
    padding-top: 91px;
    padding-bottom: 0;
}

.pt45 {
    padding-top: 45px;
}
.pt91 {
    padding-top: 91px;
}
.pb53{
    padding-bottom: 53px;
}
.pb0{
    padding-bottom: 0;
}
.wy-dd-box1{
    padding-top: 45px;
}