.wy-navbar {
    top: 45px;
    position: fixed;
}

.weui-navbar+#wy-caiwu_box.weui-tab__bd {
    padding-top: 91px;
    padding-bottom: 0;
}

.weui-btn.weui-btn_primary {
    margin-top: 10px !important;
    background-color: dodgerblue!important;
}