<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/help.css">
    <style>

    </style>
</head>


<body ontouchstart>
    <div class="header">
        <div>
            <img class="back" height="35" src="../../img/back.png" alt=""> 举报
        </div>
    </div>

    <div id="wy-jubao-box" class="weui-tab">
        <div class="weui-tab__bd">
            <form action="">
                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="weui-media-box wy-bg-fef  weui-media-box_text">
                        <p class=" wy-jb-tips">举报是指您对此交易有不满或者给我们反馈其他情况,仅用于反馈情况,我们核实后会进行相关处理,如果订单遇到纠纷,请通过申诉渠道解决。</p>
                    </div>

                    <div class="weui-cells weui-cells_checkbox wy-mt10">
                        <label class="weui-cell  weui-check__label" for="s1">
                            <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check" name="checkbox1" id="s1">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>一直不响应</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s2">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s2">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>已付款不放币</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s3">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s3">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>涉嫌欺诈</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s4">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s4">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>诱导其他交易</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s5">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s5">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>态度差</p>
                            </div>
                        </label>
                        <label class="weui-cell weui-check__label" for="s6">
                            <div class="weui-cell__hd">
                                <input type="checkbox" name="checkbox1" class="weui-check" id="s6">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>挂虚假广告</p>
                            </div>
                        </label>

                    </div>
                    <div class="weui-cells wy-mt10">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <textarea class="weui-textarea" placeholder="在此说明你举报的问题..." rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="wy-jubao_btn weui-cells">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <button type="subimt" class="weui-btn weui-btn_primary">匿名举报</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../../jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../../jquery-weui/dist/js/jquery-weui.min.js"></script>
    <script src="../../jquery-weui/dist/lib/fastclick.js"></script>
    <script src="../../jquery-weui/dist/js/swiper.min.js"></script>
    <script src="../../js/common.js"></script>

</body>

</html>