<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/xuqiu.css">
    <link rel="stylesheet" href="../lib/ali_icon/iconfont.css">
    <title>发布需求</title>

    <style>

    </style>
</head>

<body>
<div class="wrap">
    <div class="banner">
        <img src="../img/ft_banner.jpg" alt="">
    </div>
    <div class="container">
        <h1 class="qy_title">所有需求</h1>
        <div class="fbxq_list_fl pt10">
            <span>需求分类</span>
            <a href="javascript:;" class="on">全部</a>
            <a href="javascript:;">平台库</a>
            <a href="javascript:;">企业库</a>
            <a href="javascript:;">场地库</a>
            <a href="javascript:;">人才库</a>
            <a href="javascript:;">物流库</a>
            <a href="javascript:;">项目库</a>
            <a href="javascript:;">产品库</a>
            <a href="javascript:;">金融库</a>
            <a href="javascript:;">其他</a>
        </div>
        <div class="fbxq_list_sfl">
            <span>细分类</span>
            <a href="javascript:;" class="on">全部</a>
            <a href="javascript:;">开办公司</a>
            <a href="javascript:;">企业管理</a>
            <a href="javascript:;">品牌设计</a>
            <a href="javascript:;">营销推广</a>
            <a href="javascript:;">文案策略</a>
            <a href="javascript:;">影视动漫游戏</a>
            <a href="javascript:;">人力资源</a>
            <a href="javascript:;">行政后勤</a>
            <a href="javascript:;">代办事物</a>
            <a href="javascript:;">其他</a>
        </div>

        <br>
        <div class="border">
            <table width="100%" class="fbxq_list_table pb50" cellpadding="0" cellspacing="0">
                <caption class="p10">
                    <div class="text-left clearfix">
                        <ul class="fbxq_list_order pull-left">
                            <li class="on"><a href="javascript:;">综合 </a></li>
                            <li><a href="javascript:;">发布时间 <i class="iconfont icon-xiangshang"></i></a></li>
                            <li><a href="javascript:;">剩余时间 <i class="iconfont icon-xiangshang"></i></a></li>
                            <li><a href="javascript:;">参与数 <i class="iconfont icon-xiangshang"></i></a></li>
                            <li><a href="javascript:;">价格 <i class="iconfont icon-xiangshang"></i></a></li>
                        </ul>

                        <ul class="fbxq_list_order_menu pull-left">
                            <li class="fbxq_list_jiage">
                                <a href="javascript:;" class="">
                                    <span>所有价格</span>
                                    <i class="iconfont icon-down"></i>
                                </a>
                                <ul class="down_menu">
                                    <li>
                                        <a href="javascript:;">面议</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">0-500</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">500-1000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">1000-3000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">5000-10000</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">10000以上</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="fbxq_list_area">
                                <a href="javascript:;">
                                    <span>所有地区</span>
                                    <i class="iconfont icon-down"></i>
                                </a>
                                <ul class="down_menu">
                                    <li>
                                        <a href="javascript:;">广西壮族自治区</a>
                                        <ul class="down_menu_two">
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                            <li><a href="javascript:;">南宁市</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">广东</a>
                                        <ul class="down_menu_two">
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                            <li><a href="javascript:;">广州市</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </caption>
                <thead>
                <tr>
                    <td>预算/标题</td>
                    <td>项目完成时间</td>
                    <td>查看/意向</td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="pt10">
                                <a href="javascript:;">
                                    <span class="text_red fwb">￥3000-5000</span>
                                    <span class="text_blue fwb">简单APP开发修改</span>
                                </a>
                                <span class="fbxq_list_ding">顶</span>
                                <span class="fbxq_list_ji">急</span>
                            </p>
                            <p class="fz_14 pt10">
                                项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍项目简单介绍
                            </p>
                            <p class="text_gray fz_14 pt10">
                                发布时间：2017.12.12
                            </p>
                        </td>
                        <td>
                            <p class="fz_14">一个月内</p>
                        </td>
                        <td>
                            <p class="fz_14">123家企业查看 </p>
                            <p class="fz_14">26家企业有意向</p>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script src="../jquery.min.js"></script>
<script>

    // 所有价格移入显示移出隐藏 点击选中
    $('.fbxq_list_jiage').mouseenter(function () {
        $('.fbxq_list_jiage>.down_menu').show().find('li>a').click(function () {
            var val = $(this).html();
            $('.fbxq_list_jiage>a>span').html(val);
        });
        $(this).mouseleave(function () {
            $('.fbxq_list_jiage>.down_menu').hide();
        });
    });
    // END


    // 所有地区移入显示移出隐藏 点击展开二级菜单
    $('.fbxq_list_area').mouseenter(function () {
        $('.fbxq_list_area>.down_menu').show().find('li>a').click(function () {
            var optype = $(this).siblings('.down_menu_two').is(":hidden")
            if (optype) {
                $(this).siblings('.down_menu_two').show().parent().siblings('li').find('.down_menu_two').hide();
            } else {
                $(this).siblings('.down_menu_two').hide();
            }
        });
        $('.fbxq_list_area>.down_menu>li>.down_menu_two>li>a').click(function () {
            var val = $(this).html();
            $('.fbxq_list_area>a>span').html(val);
        });
        $(this).mouseleave(function () {
            $('.fbxq_list_area>.down_menu').hide();
        });
    });
    // END


</script>
</body>

</html>