<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/xuqiu.css">
    <title>示范公示列表</title>

    <style>
        
    </style>
</head>

<body>
    <div class="wrap">
        <div class="banner">
            <img src="../img/banner_02.jpg" alt="">
        </div>
        <div class="container">
            <h1 class="qy_title">示范企业</h1>
            <div class="qy_tab">
                <a href="" class="on">示范企业</a>
                <a href="">示范基地</a>
                <a href="">示范培训机构</a>
            </div>
            <div class="clearfix" style="background-color:#f3f3f3;min-height:500px;">
                <div class="left_box">
                    <ul>
                        <li>
                            <a href="">2016年度示范型企业</a>
                        </li>
                        <li>
                            <a href="">2015年度示范型企业</a>
                        </li>
                        <li>
                            <a href="">2014年度示范型企业</a>
                        </li>
                        <li>
                            <a href="">2013年度示范型企业</a>
                        </li>
                    </ul>
                </div>
                <div class="right_box clearfix">
                    <ul class="qiye_list">
                        <li>
                            <a href="" class="on">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/qiye.png" alt="">
                                <div class="qiye_name">
                                    某某某有限公司
                                    <span class="pull-right">查看企业&gt;</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>