.gx_container {
    padding: 40px 0;
}

.gx_right {
    width: 300px;
    float: right;
}

.gx_left {
    /* margin-right: 300px;
    padding-right: 15px; */
    float: left;
    width: 885px;
}

.gx_left .gx_tab {
    background-color: white;
    padding: 20px;
}

.gx_left .gx_tab .gx_list, .gx_left .gx_tab .gx_list2 {
    overflow: hidden;
}

.gx_left .gx_tab .gx_list ul, .gx_left .gx_tab .gx_list2 ul {
    overflow: hidden;
}

.gx_left .gx_tab .gx_list > span, .gx_left .gx_tab .gx_list2 > span {
    line-height: 35px;
    float: left;
    font-size: 17px;
    color: #707070;
    /* width: 85px;
    text-align: right; */
}

.gx_left .gx_tab .gx_list li, .gx_left .gx_tab .gx_list2 li {
    float: left;
    line-height: 35px;
}

.gx_left .gx_tab .gx_list li a, .gx_left .gx_tab .gx_list2 li a {
    padding: 2px 10px;
    margin: 0 10px;
    /* font-weight: bold; */
    font-size: 16px;
    color: #333;
}

.gx_left .gx_tab .gx_list li.on a, .gx_left .gx_tab .gx_list2 li.on a {
    background-color: #333333;
    color: white;
    border-radius: 5px;
}


.gx_left .gx_al_list {
    margin: 20px 0;
    overflow: hidden;
}

.gx_left .gx_al_list li {
    float: left;
    width: 50%;
}

.gx_left .gx_al_list li > div {
    overflow: hidden;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 20px;
    position: relative;
}

.gx_left .gx_al_list li:nth-child(odd) > div {
    margin-right: 10px;
}

.gx_left .gx_al_list li:nth-child(even) > div {
    margin-left: 10px;
}

.gx_left .gx_al_list img {
    width: 140px;
    height: 140px;
    float: left;
}

.gx_left .gx_al_list .gx_qy_content {
    margin-left: 140px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gx_left .gx_al_btn {
    margin-top: 9px;
    overflow: hidden;
}

.gx_left .gx_al_btn > a {
    float: left;
    padding: 3px 12px;
    background: red;
    color: white;
    margin-right: 10px;
}

.gx_left .gx_al_btn .gx_zbz {
    background: #0088ff;
}

.gx_left .gx_al_list .gx_qy_content > p {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    color: #333;
}

.gx_left .gx_al_list .gx_money {
    font-size: 18px;
    color: #ff4b4b;
    font-weight: bold;
}

.gx_hot_list {
    overflow: hidden;
    margin-top: 10px;
}

.gx_fb_btn {
    background-color: #ff4b4b;
    color: white;
    padding: 5px 20px;
    display: inline-block;
    margin: 15px 0;
    font-size: 14px;
}

.gx_zb_logo {
    position: absolute;
    width: 50px !important;
    height: auto !important;
    top: 0;
    right: 20px;
}

