* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Microsoft YaHei";
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration-style: none;
    color: #333;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #4199f6;
    border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #4199f6;
    border-radius: 0;
}

.wrap {
    background: #f4f4f4;
    min-height: 815px;
}

.bg_reg {
    background: url(../images/reg/reg_03.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bg-white {
    background: white !important;
}

.bg-f1f1 {
    background-color: #f1f1f1;
}

.text-white {
    color: white;
}

.text-red {
    color: #FE4E48 !important;
}

.text-444 {
    color: #444444;
}
.text-039{
    color: #0398e0 !important;
}
.vam{
    vertical-align: middle;
}
.fz_14 {
    padding-left: 28px;
    font-size: 14px;
}

.fz-14 {
    font-size: 14px;
}
.fz-20{
    font-size: 20px;
}
.fz-26{
    font-size: 26px;
}
.fz-16 {
    font-size: 16px;
}

.fz-12 {
    font-size: 12px;
}
.fz-10 {
    font-size: 10px;
}

.fz0 {
    font-size: 0 !important;
}

.fz_12 {
    font-size: 12px;
}

.zx-hq-list {
    font-size: 16px;
}

.zx-hq-list .list-group-item {
    padding: 17.3px 15px;
}

.nav > li > a {
    padding: 15px;
}

.jingao {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 78, 72);
    line-height: 25px;
}

.geren_title {
    padding-left: 40px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb(36, 36, 36);
    font-weight: bold;
    line-height: 1.2;
}

.wauto {
    width: auto;
}

.hauto {
    height: auto !important;
}

.dib {
    display: inline-block;
}

.din {
    display: initial;
}

.form-control.b0.wauto.dib {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

.fw {
    font-weight: inherit;
}

.fwb {
    font-weight: bold !important;
}

.ml-34 {
    margin-left: -34px;
}

.ml-32 {
    margin-left: -32px !important;
}
.ml-14{
    margin-left: -14px !important;
}
.ml-54 {
    margin-left: -54px;
}

.ml75 {
    margin-left: 75px;
}

.ml-6 {
    margin-left: -6px;
}

.m0 {
    margin: 0;
}

.ml17 {
    margin-left: 17px;
}
.mt-10{
    margin-top: -10px;
}
.mb36 {
    margin-bottom: 36px;
}

.mtb30 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.mtb20{
    margin-bottom: 20px;
    margin-top: 20px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}

.mtb40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.mtb10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.mt2{
    margin-top: 2px;
}
.mb20 {
    margin-bottom: 20px;
}

.mt60 {
    margin-top: 60px;
}

.resize_n {
    resize: none;
}

.pl65 {
    padding-left: 65px;
}

.ptb0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.pb8{
   padding-bottom: 8px;
   /* padding-top: 15px; */
}
.p10-15{
    padding: 10px 15px;
}
.pt7 {
    padding-top: 7px;
}

.pt10 {
    padding-top: 10px;
}
.pt13{
    padding-top: 13px !important;
}

.pb20 {
    padding-bottom: 20px;
}

.pl7_5 {
    padding-left: 7.5px;
}

.pl75 {
    padding-left: 75 !important;
}
.pl90{
    padding-left: 90px;
}
.pr7_5 {
    padding-right: 7.5px;
}
.pr20{
    padding-right: 20px;
}
.p0{
    padding: 0;
}
.pr0 {
    padding-right: 0;
}

.plr18 {
    padding-left: 18px;
    padding-right: 18px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w12_5 {
    width: 12.5%;
}

.ts_1 {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: rgb(68, 68, 68);
    line-height: 30px;
}

form {
    font-size: 16px !important;
    font-family: "Microsoft YaHei" !important;
    color: rgb(68, 68, 68) !important;
}

form label {
    font-weight: normal !important;
}

.btn-419 {
    background-color: #4199f6 !important;
}

.b0 {
    border: 0 !important;
}

.br0 {
    border-radius: 0;
}

.mh300 {
    max-height: 300px;
}

.mh76 {
    max-height: 76px;
}

.vh100 {
    height: 100vh;
}

.pos_r {
    position: relative;
}
.pos_a {
    position: absolute;
}
#caiwu.table-responsive .table tbody > tr > td {
    line-height: 34px !important;
}

#caiwu.table-responsive .table tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

#caiwu.table-responsive .table tbody > tr > td:first-child {
    padding-left: 45px;
}

.td_border {
    height: 28px;
    left: 0;
    top: calc(50% - 14px);
    position: absolute;
    display: inline-block;
    border-right: 1px solid #ddd;
}

.form-title {
    font-size: 26px;
    font-weight: bold;
}

.top1 {
    width: 40px;
    height: 40px;
    background: #ecbc33;
    line-height: 40px;
    border-radius: 50%;
    margin-top: -40px;
}

.zx-list {
    font-size: 16px;
}

.zx-list dd {
    padding-top: 18px;
    color: #767676;
}

.zx-list-phb .list-group-item {
    padding: 15px;
    border: 0;
}

.zx-list-phb .list-group-item p {
    margin: 10px 0 0 0;
}
