<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <style>
        .page-right {
            padding: 30px;
            background-color: #fff !important;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        img{
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-lg-pulla-3 col-md-pulla-3 page-right">


            <h2 class="text-center" style="display: block"> 未来的手机应用商店将基于区块链，促进透明化</h2>
            <p class="text-center" style="border-bottom: 1px dashed #ddd; margin-bottom: 20px; padding-bottom: 20px;">
                发布时间：<span>2017-12-14 17:09</span>
                关键字：<span>  <a target="_blank" class="key" href="">区块链</a> <a target="_blank" class="key"
                                                                              href="">数字货币</a> <a target="_blank"
                                                                                                  class="key" href="">比特币</a> </span>
            </p>
            <article class="page-content clearfix" style="font-size: 16px;">
                <div> 在2017年，手机应用商店app
                    stores的收入和下载量都达到了创纪录的水平。在iOS和Android平台上，下载量同比增长15%，达到近500亿美元，总营收达到150亿美元。Google Play和苹果app
                    store是全球使用最广泛的移动市场。正是由于这种双头垄断，他们才可以对所有购买、应用下载和应用内项进行30%的削减。AppCoin希望通过利用<a target="_blank"
                                                                                               href="https://www.zb.com">区块链</a>技术来改变这一现状，从而颠覆传统的应用程序经济。今日的经济价值接近77美元，到2020年可能翻一番。
                </div>
                <div style="text-align: center;"><img src="https://img1.zb.com/up/11/313A313A3131_93594.jpg" alt=""><br>
                </div>
                <div><strong>区块链能解决什么问题?</strong></div>
                <div> 由于用户和开发者之间的存在许多中介，应用经济的效率非常低。它是由提供高度集中的平台的单一实体构造的。这些平台提供分销、发现和金融交易，但却尤其地不透明。</div>
                <div>
                    这些实体还负责维护商店中的应用程序和游戏，同时也负责执行安全措施，并保证每个交易的完整性。就像其他许多中央集权体制一样，这个模式也是有缺陷的。它们充斥着恶意软件的下载、对低端市场的应用内购买、数据泄露和隐私方面的担忧，都是移动市场用户体验日益充满风险和不便的几个原因。
                </div>
                <div>
                    概括地说，应用商店有三个重要的功能:广告、应用内购买和应用程序批准。全球最大的独立Android商店Aptoide想要将这三种功能转移到区块链上，并通过应用程序的应用程序商店协议，给移动应用程序带来革命性的变化。Appcoin将作为终端用户和开发者之间的交换媒介，通过不可变的智能合同改善用户体验和市场效率。
                </div>
                <div><strong>区块链将怎么解决这个问题？</strong></div>
                <div>
                    为了使广告更加透明和可负担，appcoin将通过创建一种新的方法来消除中间商，从而可以废弃消费者的消费价格指数(每个安装成本)。他们称其为CPAt(每一关注成本)。
                </div>
                <div> 这个新模式允许开发者直接奖励用户在应用内至少花费两分钟的时间，用户可以在他们的钱包里获得应用币，也可以用来进行应用内购买。</div>
                <div>
                    区块链还将帮助appcoin的团队接触到20亿智能手机用户，他们没有必要的支付方式来进行应用内购买。通过他们的新模式，用户将获得CPAt的奖励，他们可以获得appcoin，并在他们最喜爱的游戏或应用中投入使用。
                </div>
                <p>
                    随着区块链的使用，应用程序的审批将通过开发者系统变得更加普遍和透明。他们的声誉将通过可审计的公共分类账上的金融交易来验证。一个争议系统将被创建，以便appcoin的所有者能够为开发者和他们发布的应用程序创建排名。</p>
                <p> 原文：
                    <a href="https://cointelegraph.com/news/app-stores-of-future-will-be-based-on-blockchain-promote-transparency">Cointelegraph</a>


                </p>
                <p> 作者：Anupam Varshney

                </p>
                <p> 编译：www.zb.com<br></p>
                <div><br></div>
            </article>


        </div>
    </div>
</div>

</body>
</html>