<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/icon_img.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul id="nav_left" class="text-center bg-white  nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_white  icon-caichan"></i>
                                </i>
                                <span class="fz_14">账户财产</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon ml-32">
                                    <i class="icon icon_black icon-chongbi"></i>
                                </i>
                                <span class="fz_14">充币</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon ml-32">
                                    <i class="icon icon_black icon-tibi"></i>
                                </i>
                                <span class="fz_14">提币</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black icon-zijin"></i>
                                </i>
                                <span class="fz_14">资金账户</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black icon-zonghe"></i>
                                </i>
                                <span class="fz_14">综合账单</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-10 bg-white">
                    <div class="plr18">
                        <h3 class="geren_title fw">
                            <i class="icon ml-54">
                                <i class="icon icon_black  icon-caichan ml-6"></i>
                            </i>
                            账户财产折合:
                            <span>XXX</span>
                            <select class="form-control b0 wauto dib hauto ptb0">
                                <option>CNY</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </h3>
                    </div>
                    <div id="caiwu" class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="icon icon_b icon-usdt"></i> USDT</td>
                                    <td align="center">可用: 0 USDT</td>
                                    <td align="center" class="pos_r">
                                        <span class="td_border"></span> 冻结: 0 USDT</td>
                                    <td align="right">
                                        <button class="btn btn-primary btn-419 b0">充值</button>
                                        <button class="btn btn-danger b0">提现</button>

                                    </td>
                                </tr>

                                <tr>
                                    <td>  <i class="icon icon_b icon-eos"></i>
                                        USDT</td>
                                    <td align="center">可用: 0 USDT</td>
                                    <td align="center" class="pos_r">
                                        <span class="td_border"></span> 冻结: 0 USDT</td>
                                    <td align="right">
                                        <button class="btn btn-primary btn-419 b0">充值</button>
                                        <button class="btn btn-danger b0">提现</button>

                                    </td>
                                </tr>

                                <tr>
                                        <td>
                                            <i class="icon icon_b icon-usdt"></i> USDT</td>
                                        <td align="center">可用: 0 USDT</td>
                                        <td align="center" class="pos_r">
                                            <span class="td_border"></span> 冻结: 0 USDT</td>
                                        <td align="right">
                                            <button class="btn btn-primary btn-419 b0">充值</button>
                                            <button class="btn btn-danger b0">提现</button>
    
                                        </td>
                                    </tr>
    
                                    <tr>
                                        <td>  <i class="icon icon_b icon-eos"></i>
                                            USDT</td>
                                        <td align="center">可用: 0 USDT</td>
                                        <td align="center" class="pos_r">
                                            <span class="td_border"></span> 冻结: 0 USDT</td>
                                        <td align="right">
                                            <button class="btn btn-primary btn-419 b0">充值</button>
                                            <button class="btn btn-danger b0">提现</button>
    
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <i class="icon icon_b icon-usdt"></i> USDT</td>
                                            <td align="center">可用: 0 USDT</td>
                                            <td align="center" class="pos_r">
                                                <span class="td_border"></span> 冻结: 0 USDT</td>
                                            <td align="right">
                                                <button class="btn btn-primary btn-419 b0">充值</button>
                                                <button class="btn btn-danger b0">提现</button>
        
                                            </td>
                                        </tr>
        
                                        <tr>
                                            <td>  <i class="icon icon_b icon-eos"></i>
                                                USDT</td>
                                            <td align="center">可用: 0 USDT</td>
                                            <td align="center" class="pos_r">
                                                <span class="td_border"></span> 冻结: 0 USDT</td>
                                            <td align="right">
                                                <button class="btn btn-primary btn-419 b0">充值</button>
                                                <button class="btn btn-danger b0">提现</button>
        
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                    <i class="icon icon_b icon-usdt"></i> USDT</td>
                                                <td align="center">可用: 0 USDT</td>
                                                <td align="center" class="pos_r">
                                                    <span class="td_border"></span> 冻结: 0 USDT</td>
                                                <td align="right">
                                                    <button class="btn btn-primary btn-419 b0">充值</button>
                                                    <button class="btn btn-danger b0">提现</button>
            
                                                </td>
                                            </tr>
            
                                            <tr>
                                                <td>  <i class="icon icon_b icon-eos"></i>
                                                    USDT</td>
                                                <td align="center">可用: 0 USDT</td>
                                                <td align="center" class="pos_r">
                                                    <span class="td_border"></span> 冻结: 0 USDT</td>
                                                <td align="right">
                                                    <button class="btn btn-primary btn-419 b0">充值</button>
                                                    <button class="btn btn-danger b0">提现</button>
            
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td>  <i class="icon icon_b icon-eos"></i>
                                                        USDT</td>
                                                    <td align="center">可用: 0 USDT</td>
                                                    <td align="center" class="pos_r">
                                                        <span class="td_border"></span> 冻结: 0 USDT</td>
                                                    <td align="right">
                                                        <button class="btn btn-primary btn-419 b0">充值</button>
                                                        <button class="btn btn-danger b0">提现</button>
                
                                                    </td>
                                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#nav_left li').click(function () {
                $(this).addClass('active').siblings('li').removeClass('active').find('.icon_white').addClass(
                    'icon_black').removeClass('icon_white');
                $(this).find('.icon_black').addClass('icon_white');
            })



        })
    </script>
</body>

</html>