<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/icon_img.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .cb_xiala {
            display: inline-block;
        }

        .bi_list {
            margin: 0 15px 15px 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
        }

        .bi_list a {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 0px 20px;
            height: 34px;
            line-height: 32px;
            text-align: center;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            color: #5d686d;
            position: relative;
            font-weight: bold;
        }

        .bi_list a.on,
        .bi_list a:hover {
            border: 1px solid #de211d;
            color: #de211d;
            background-color: #fdfafa;
        }

        .text-red_b {
            color: #de211d !important;
        }

        .cb_btn.btn-danger {
            background-color: #de211d;
            border-color: #de211d;
        }
        
    </style>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul id="nav_left" class="text-center bg-white  nav nav-pills nav-stacked">
                        <li>
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black  icon-caichan"></i>
                                </i>
                                <span class="fz_14">账户财产</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon ml-32">
                                    <i class="icon icon_white icon-chongbi"></i>
                                </i>
                                <span class="fz_14">充币</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon ml-32">
                                    <i class="icon icon_black icon-tibi"></i>
                                </i>
                                <span class="fz_14">提币</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black icon-zijin"></i>
                                </i>
                                <span class="fz_14">资金账户</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black icon-zonghe"></i>
                                </i>
                                <span class="fz_14">综合账单</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-10 bg-white">
                    <div class="plr18">
                        <h3 class="geren_title fw">
                            <i class="icon ml-54">
                                <i class="icon icon_black  icon-chongbi ml-6"></i>
                            </i>
                            充币
                        </h3>
                    </div>
                    <hr>
                    <div class="bi_list">
                        <a class="on" href="javascript:;">BTC</a>
                        <a href="javascript:;">LTC</a>
                    </div>
                    <div class="text-center">
                    <div class="cb_btn btn btn-lg btn-danger">获取BTC充值地址</div>                        
                    </div>
                    <div class="form-group ">
                        <label for="" class="control-label col-xs-3 text-right">钱包地址:</label>
                        <div class="input-group col-xs-9">
                            <span class="plr18 text-red_b fwb fz-16">1DC9RavwM7dybXxMULWQqxmMzomFEFq3i5</span>
                            <a href="" class="text-red_b">复制钱包地址</a>
                            <div class="mt10">
                                <img src="https://vip.zb.com/service/qrcode?code=1DC9RavwM7dybXxMULWQqxmMzomFEFq3i5&width=160&height=160" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="mtb40">
                        <div class="alert alert-danger">
                            <h5 style="color:#333">安全提示</h5>
                            <p>禁止充值除BTC之外的其他资产，任何非BTC资产充值将不可找回</p>
                        </div>
                    </div>
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr class="active">
                                    <th>时间</th>
                                    <th>类型</th>
                                    <th>金额(BTC)</th>
                                    <th>处理时间</th>
                                    <th>确认次数</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center">
                            暂时没有相关记录。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#nav_left li').click(function () {
                $(this).addClass('active').siblings('li').removeClass('active').find('.icon_white').addClass(
                    'icon_black').removeClass('icon_white');
                $(this).find('.icon_black').addClass('icon_white');
            })
        })
    </script>
</body>

</html>