<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="../css/dindan.css">
    <style>

    </style>

</head>

<body>
    <div class="container intro-container">

        <h2 class="title-primary mgb-20 pull-left  mgl-200">

            订单#262074204169：以 10000 CNY 购买 0.076058 BTC
            <br>
            <small>
                <a href=""> hhenry</a> 的在线出售广告
                <a target="_blank" href="">
                    # 7v7b92ld
                </a>
                ，价格 131478.4 CNY/BTC
            </small>
        </h2>
        <div class="clearfix"></div>
        <h3 class="od-info-title">
            <div>
                交易状态： 已注资，待付款
                <a href="javascript:void(0);" class="hide-xs">
                    <i class="fa fa-download"></i> 导出聊天记录</a>
            </div>

        </h3>
        <div class="clearfix"></div>
    </div>
    <div class="container main-container mgt-xs-0 mt20">
        <div class="fl width-60per chat-container">
            <div class="row">
                <div class="chat-box col-xs-8">
                    <form id="inputForm" class="form-horizontal" action="" method="post">

                        <div class="send-conetnt">
                            <div class="send-conetnt-add">
                                <img src="../images/chat_img/msg_add.png" class="ext">
                            </div>
                            <div class="send-conetnt-input">
                                <input name="content" id="content" type="text" class="send-text" maxlength="128" required="">
                                <div class="dot"></div>
                                <a title="常用回复" class="quickReply_icon"></a>

                            </div>
                            <div class="send-conetnt-btn">
                                <button id="submit" type="submit" class="send_icon">发送</button>
                            </div>
                        </div>
                    </form>
                    <div class="chat-content">
                        <div class="div_scroll chat-content-height" style="background-color: #fff">
                            <div style="height:auto; width:auto;background-color: #fff" id="contentTable">
                                <div class="item item-me ">
                                    <div class="photo-box photo-52">
                                        <b style="position: relative">
                                            <img src="https://bitcoin-world-public.oss-cn-hongkong.aliyuncs.com/bitcoinworld/userHeaderPic/20171206033815787.jpg">
                                        </b>
                                        <span class="long-id box_name">
                                            <a title="wx18031359899"> wx18031359899</a>
                                        </span>
                                    </div>
                                    <span class="i18n-time-zone-date-message">2017-12-18 16:40:59</span>
                                    <div class="chat">
                                        <i></i>请卖家确定收到买家的支付款项后再放请卖家确定收到买家的支付款项后再放请卖家确定收到买家的支付款项后再放请卖家确定收到买家的支付款项后再放请卖家确定收到买家的支付款项后再放
                                    </div>
                                </div>
                                <div class="item item-service">
                                    <div class="photo-box photo-52">
                                        <b style="position: relative">
                                            <img src="https://bitcoin-world-public.oss-cn-hongkong.aliyuncs.com/bitcoinworld/userHeaderPic/201712/songjean.jpg">
                                        </b>
                                        <span class="long-id box_name">
                                            <a title="songjean">
                                                songjean
                                            </a>
                                        </span>
                                    </div>
                                    <span class="i18n-time-zone-date-message">2017-12-18 15:55:51</span>
                                    <div class="chat">
                                        <i></i>123123
                                    </div>
                                </div>
                                <div class="chat-tip">
                                    <span>系统提示：请卖家确定收到买家的支付款项后再放行！请务必前往您的收款账户查看，请勿相信任何短信或邮件形式的消息。私下交易存在巨大风险，一切因私下交易产生的纠纷，平台概不负责，请谨慎操作!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="warning-tips">如果有人请求您将数字货币直接转给另一个数字货币地址，请考虑其中的风险！</div>
                    <div class="warning-tips">绝不要把您的电子邮件或电话号码给一个您不认识的交易者！</div>
                </div>
                <div class="col-xs-4">
                    <div class="title-default">
                        <strong>交易操作</strong>
                        <div id="voiceCountDown" class="fr f14">
                            <a class="btn btn-primary"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="若用户已完成手机验证，您发送语音通知后，系统将拨打该用户的号码并通过语音通知对方">发送语音电话</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel trade-info">





                        <div class="step">
                            <h4 class="step-title">
                                支付款项
                                <span class="blue fr">
                                    还剩 80 分钟
                                </span>
                            </h4>

                            <p>现在对方的数字货币已被托管锁定，您需要在 90 分钟内完成付款并点击“付款已完成”按钮。转账时请在留言中附上交易参考号。</p>


                            <p>
                                交易状态：
                                <span class="red">已注资，待付款</span>
                            </p>
                            <div class="text-box">
                                <p>买家：
                                    <a href=""> songjean(0)</a>
                                </p>
                                <p>卖家：
                                    <a href="">hhenry</a>
                                </p>
                                <p>付款备注：联系付款</p>
                                <p>付款金额：
                                    <strong>10000</strong> CNY</p>
                                <p>付款参考号：
                                    <span class="red">606765</span>
                                </p>


                                <div class="text-box-detail">
                                    <p>广告来源：中国</p>
                                    <p>
                                        付款方式： 国内银行转账 支付宝


                                    </p>
                                    <p>

                                        托管金额：
                                        <strong>0.076058</strong> BTC
                                    </p>
                                    <p>成交价：
                                        <strong>131478.4</strong> CNY/BTC</p>
                                    <p>创建时间：
                                        <span class="i18n-time-zone-date">2017-12-19 10:50:04</span>
                                    </p>

                                </div>

                            </div>

                            <div class="item">

                                <a id="orderPay" class="btn btn-padsm btn-primary">
                                    付款已完成
                                </a>

                                <a id="cancelOrder" class="btn btn-padsm  fr">取消交易</a>
                                <br>
                            </div>
                            <p></p>
                            <p>当托管启用时，只有买家和BitcoinWorld工作人员可以取消这笔交易。
                                <a href="">了解托管策略</a>
                            </p>
                            <p>如果交易过程中还有问题，请查找帮助中心文档，或者向平台。
                                <a href="" target="_blank">提交问题</a>
                            </p>
                            <p></p>








                            <div id="divCompRes1" style="display:none">
                                <div class="succeed-box">
                                    <strong>当前交易正在申诉中。</strong>
                                </div>
                                <div class="item">


                                    <strong>


                                    </strong>
                                    使用留言表格或上传支持您一方观点的证据。</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>