<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/goumai.css">
    <style>

    </style>

</head>

<body>
    <div class="wrap">
        <div class="container ptb">
            <div class="row">
                <div class="col-xs-8 bg-white p0">
                    <div class="back-ad">
                        <div class="title-primary mgb-20">
                            <div class="md-font-24">
                                在&nbsp;中国 &nbsp;以 (CNY) 购买 ETC
                            </div>
                            <div class="font-18">
                                BitcoinWorld用户
                                <span class="dotted">
                                    <a class="white" href="">wx18031359899</a>
                                </span>
                                希望出售 ETC 给您
                            </div>
                        </div>
                    </div>
                    <div class="pad-sm">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="adcontent" class="table-default mgb-20 left30 mgt-20">
                            <colgroup>
                                <col width="20%" class="sm-30">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>

                                    <th align="left">固定价格&nbsp;</th>


                                    <td>
                                        <span class="dotted">248 CNY/ETC</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th align="left">付款方式&nbsp;</th>
                                    <td>
                                        支付宝 国内银行转账
                                    </td>
                                </tr>

                                <tr>
                                    <th align="left">交易限额&nbsp;</th>
                                    <td>
                                        <span class="dotted">
                                            200 - 25000 CNY
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th align="left">所在地&nbsp;</th>
                                    <td>中国</td>
                                </tr>

                                <tr>
                                    <th align="left">付款期限&nbsp;</th>
                                    <td>90&nbsp;分钟&nbsp;&nbsp;
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" class="fa fa-question-circle  i-blue" title=""
                                            data-original-title="若您在发起交易后的此时间内未标记“付款已完成”，交易将自动取消。"></a>
                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="2">
                                        <a href="">✔举报这则交易广告</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form id="adform" action="" method="post">
                            <div class="panel-padding-30 mgb-20">
                                <div class="trade-buy-coin">
                                    <div class="trade-input">
                                        <span class="hide-sm">CNY</span>
                                        <input name="moneyPrice" id="moneyPrice" type="text" placeholder="请输入您想买入的金额">
                                    </div>
                                    <div class="trade-input-icon inline">
                                        <img src="../images/goumai_img/exchange.png" alt="">
                                    </div>
                                    <div class="trade-input">

                                        <span class="hide-sm">ETC</span>
                                        <input name="btc" placeholder="请输入您要购买的 ETC 数量" id="btc" type="text">
                                    </div>
                                </div>

                                <div class="item" id="divContext">
                                    <textarea name="msg" id="msg" placeholder="告诉ta您的要求" rows="4" class="area-text input-text"></textarea>
                                </div>
                                <span class="red" id="remind"></span>
                                <br>
                                <div class="item" style="text-align: center;">

                                    <a id="submit" href="javascript:void(0)" class="btn btn-green wid-50per width-480 pad-0">
                                        买入 ETC
                                    </a>


                                </div>


                            </div>
                        </form>
                        <div class="wrapper note-tips mgt-20">
                            <p class="note-tips-pop">
                                <i class="fa fa-paper-plane-o ring" aria-hidden="true"></i>
                                <span class="f16">wx18031359899</span>
                                <span>的交易条款</span>
                            </p>
                            <p></p>
                        </div>
                        <div class="wrapper note-tips mgt-20">
                            <p class="note-tips-pop">
                                <i class="fa fa-bell-o ring" aria-hidden="true"></i>
                                <span>
                                    交易须知
                                </span>
                            </p>
                            <p>

                                在您发起交易请求后，数字货币被锁定在托管中，受到BitcoinWorld保护。 如果您是买家，发起交易请求后，您应在90分钟内付款并把交易标记为付款已完成。卖家在收到付款后将会放行处于托管中的数字货币。




                            </p>
                            <p>交易前请阅读《BitcoinWorld网络服务条款》以及常见问题、交易指南等帮助文档。</p>
                            <p>当心骗子！交易前请检查该用户收到的评价，并对新近创建的账户多加留意。</p>
                            <p>请注意，四舍五入和价格的波动可能会影响最终成交的数字货币数额。您输入的固定数额决定最后数额，数字货币金额将在请求发布的同一时间由即时的汇率算出。</p>
                            <p>托管服务保护网上交易的买卖双方。在发生争议的情况下，我们将评估所提供的所有信息，并将托管的数字货币放行给其合法所有者。</p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4">
                    <div class="c-side fr  col-pho-12">
                        <div class="panel bd-radius white-color center">
                            <div class="user-info ">
                                <div class="user-photo align-center">
                                    <span class="photo-box photo-62">
                                        <a href="">

                                            <img src="https://bitcoin-world-public.oss-cn-hongkong.aliyuncs.com/bitcoinworld/userHeaderPic/20171206033815787.jpg">
                                        </a>
                                    </span>
                                    <p style="padding-top: 20px;">
                                        <img src="/static/images/chat/level_0.png">
                                        <strong class="user-name">
                                            <a href="">wx18031359899</a>
                                        </strong>
                                        &nbsp;

                                        <a href="" class="tradeline online">
                                            <span>点我聊天</span>
                                        </a>



                                    </p>
                                    <p>

                                    </p>
                                </div>
                                <div class="item">
                                    <a title="邮件已验证">
                                        <div class="email-yes validat-icon"></div>
                                    </a>

                                    <a title="手机已验证">
                                        <div class="phone-yes validat-icon"></div>
                                    </a>

                                    <a title="身份证已验证">
                                        <div class="certificat-yes validat-icon"></div>
                                    </a>


                                </div>
                                <ul class="addetail-ul">
                                    <li>
                                        <span>信任人数&nbsp;</span> 50</li>

                                    <li>
                                        <span>好评&nbsp;</span>100.0%
                                    </li>

                                    <li>
                                        <span>交易次数&nbsp;</span> 117</li>
                                    <li>
                                        <span>平均放行&nbsp;</span>

                                        暂无交易记录


                                    </li>
                                    <li>
                                        <span>平均回复时间&nbsp;</span>
                                        <span>5-10分钟</span>
                                    </li>
                                </ul>
                                <div class="btn-wrapper">



                                    <a href="" class="btn btn-padsm btn-primary">信任</a>






                                    <a href="" class="btn btn-padsm btn-primary" style="    background: #666;border-color: #666;">屏蔽</a>



                                </div>
                            </div>
                        </div>
                        <div class="div-box color-white boxes mgt-10">
                            <div class="title" style="border:none !important;">
                                <h3 class="panel-title" style="margin-left: 0px;">
                                    <a href="">wx18031359899 </a>的类似广告
                                    <a href="" class="fr f14">
                                        <i class="fa fa-plus-circle f18 blue-theme" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table fix-table">
                                <colgroup>
                                    <col width="100">
                                    <col width="30">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th align="left">付款方式</th>
                                        <th align="left">货币</th>
                                        <th width="35%">交易价格</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="text-ellipsis">
                                            <a href="" title="支付宝 国内银行转账">支付宝 国内银行转账</a>
                                        </td>
                                        <td>
                                            <a href="">LTC</a>
                                        </td>
                                        <td>
                                            <a href="">
                                                2250 CNY
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
</body>

</html>