<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/icon_img.css">
    <link rel="stylesheet" href="../css/style.css">
 
    
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul id="nav_left" class="text-center bg-white  nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#"><i class="icon"><i class="icon icon_white  icon-geren"></i></i><span class="fz_14">个人信息</span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="icon"><i class="icon icon_black icon-anquan"></i></i><span class="fz_14">安全验证</span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="icon"><i class="icon icon_black icon-shiming"></i></i><span class="fz_14">实名验证</span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="icon"><i class="icon icon_black icon-xiaofei"></i></i><span class="fz_14">消息提醒</span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="icon"><i class="icon icon_black icon-jiaoyi"></i></i><span class="fz_14">交易记录</span></a>
                        </li>
                        <li class="">
                            <a href="#"><i class="icon"><i class="icon icon_black icon-shoukuan"></i></i><span class="fz_14">收款方式</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 bg-white">
                    <div class="plr18">
                        <h3 class="geren_title"><i class="icon ml-54"><i class="icon icon_black  icon-geren ml-6"></i></i>
                        个人信息</h3>
                        <p class="jingao m0 pl65"><i class="ml-34 icon icon-tixing"></i>根据 国家相关规定，需要您进行实名登记，请填写您的真实身份信息，感谢您的理解与支持！
                        </p>
                        <hr>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">国籍:</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">证件类型:</label>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">真实姓名:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                            <span class="ts_1">请填写您的真实姓名</span>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">证件号码:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                            <span class="ts_1">请填写您的证件号码</span>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">性别:</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">所属地区:</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6 pr7_5">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 pl7_5">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">详细地址:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <button type="submit" class="btn btn-primary btn-419 b0 btn-block">确认提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {

        $('#nav_left li').click(function() {
            $(this).addClass('active').siblings('li').removeClass('active').find('.icon_white').addClass('icon_black').removeClass('icon_white');
            $(this).find('.icon_black').addClass('icon_white');
        })



    })
    </script>
</body>

</html>