<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广告</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon_img.css">
    <style>
        .gg-yzgg {
            padding: 20px 25px;
        }

        .gg-yzgg p {
            margin: 0;
        }

        .gg-list-tj .row .col-md-4 {
            padding: 0;
        }

        .gg-list-tj .gg-list-item {

            padding-bottom: 10px;
        }

        .gg-list-tj .col-md-4:nth-child(1) .gg-list-item {
            margin-right: 13px;
        }

        .gg-list-tj .col-md-4:nth-child(2) .gg-list-item {
            margin-right: 6.5px;
            margin-left: 6.5px;
        }

        .gg-list-tj .col-md-4:nth-child(3) .gg-list-item {
            margin-left: 13px;
        }

        #dot li {
            background: #bababa;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        #dot .on {
            width: 30px;
            border-radius: 5px;
        }

        #gg-table thead tr td {
            font-size: 14px;
        }

        #gg-table tbody tr td p {
            margin: 0;
        }

        #gg-table .first_p {
            font-size: 16px;
            font-weight: bold;
        }

        #gg-table .two_p {
            font-size: 10px;
        }

        #gg-table .name_span {
            font-size: 12px;
            padding-left: 12px;
        }

        #gg-table tr>td {
            border: 0;
        }

        .ml-53t12 {
            margin-left: -53px;
            margin-top: 12px;
        }

        .gg-pay {
            line-height: 40px !important;
        }
        #gg-table tbody tr:nth-child(odd){
            background-color: #e9eff4;
        }
        #gg-table tbody tr:nth-child(even){
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="text-center bg-white  nav nav-pills nav-stacked vh100">
                        <li class="active">
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_white  icon-btcjy"></i>
                                </i>
                                <span class="fz_14">BTC交易</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black  icon-ggmr"></i>
                                </i>
                                <span class="fz_14">我要买入</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black  icon-ggmc"></i>
                                </i>
                                <span class="fz_14">我要卖出</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon ml-14">
                                    <i class="icon icon_black  icon-usdtjy"></i>
                                </i>
                                <span class="fz_14">USDT交易</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black  icon-ggmr"></i>
                                </i>
                                <span class="fz_14">我要买入</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon">
                                    <i class="icon icon_black  icon-ggmc"></i>
                                </i>
                                <span class="fz_14">我要卖出</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="bg-white p10-15">
                        <img src="../images/gg_img/main2_03.jpg" alt="">
                        <span>优质广告推荐</span>
                        <span class="pull-right">
                            <img src="../images/gg_img/main2_031.png" alt="">
                            <a class="pr20" href="javascript:;"> 成为认证商家	&gt;</a>
                            <a href="javascript:;"> 发布广告</a>
                        </span>
                    </div>
                    <ul class="gg-list-tj">
                        <li>

                            <div class="row m0 mtb20">
                                <div class="col-md-4 ">
                                    <div class="gg-list-item bg-white">
                                        <div class="gg-yzgg">
                                            <img class="pull-left" src="../images/zc_img/user.png" width="57" height="57" alt="" class="img-circle">
                                            <div class="ml75 mt10">
                                                <p class="fwb fz-14">卖币专用商</p>
                                                <div class="pull-right mt-10">
                                                    <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                                    <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                                </div>
                                                <span class="fz-10">交易笔数：1693</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <p class="m0 fz-20 fwb">6.78CNY</p>
                                            <p class="m0 fz-10">2000~1000.000CNY</p>
                                        </div>
                                        <div class=" mtb10 fz-14 btn btn-block btn-primary btn-419 b0 br0">
                                            <b>立刻买入</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="gg-list-item bg-white">
                                        <div class="gg-yzgg">
                                            <img class="pull-left" src="../images/zc_img/user.png" width="57" height="57" alt="" class="img-circle">
                                            <div class="ml75 mt10">
                                                <p class="fwb fz-14">卖币专用商</p>
                                                <div class="pull-right mt-10">
                                                    <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                                    <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                                </div>
                                                <span class="fz-10">交易笔数：1693</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <p class="m0 fz-20 fwb">6.78CNY</p>
                                            <p class="m0 fz-10">2000~1000.000CNY</p>
                                        </div>
                                        <div class=" mtb10 fz-14 btn btn-block btn-primary btn-419 b0 br0">
                                            <b>立刻买入</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="gg-list-item bg-white">
                                        <div class="gg-yzgg">
                                            <img class="pull-left" src="../images/zc_img/user.png" width="57" height="57" alt="" class="img-circle">
                                            <div class="ml75 mt10">
                                                <p class="fwb fz-14">卖币专用商</p>
                                                <div class="pull-right mt-10">
                                                    <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                                    <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                                </div>
                                                <span class="fz-10">交易笔数：1693</span>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <p class="m0 fz-20 fwb">6.78CNY</p>
                                            <p class="m0 fz-10">2000~1000.000CNY</p>
                                        </div>
                                        <div class=" mtb10 fz-14 btn btn-block btn-primary btn-419 b0 br0">
                                            <b>立刻买入</b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <ul id="dot" class="text-center list-inline">
                        <li class="on"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div>
                        <table id="gg-table" class="table">
                            <thead class="bg-white">
                                <tr>
                                    <td>选择交易的国情</td>
                                    <td>交易笔数</td>
                                    <td>付款方式</td>
                                    <td>价格/BTC</td>
                                    <td></td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="pull-left" src="../images/zc_img/user.png" width="42" height="42" alt="" class="img-circle">
                                        <div>
                                            <span class="name_span">TGIDEAS</span>
                                            <img src="../images/gg_img/chain.png" class="pos_a ml-53t12" alt="">
                                        </div>

                                    </td>
                                    <td></td>
                                    <td class="gg-pay">
                                        <img src="../images/gg_img/main2_19.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_14.png" width="25" height="" alt="">
                                        <img src="../images/gg_img/main2_20.png" width="25" height="" alt="">
                                    </td>
                                    <td>
                                        <p class="first_p">53,855.59 CNY </p>
                                        <p class="two_p">100 - 5,529 CNY </p>
                                    </td>
                                    <td class="pt13">
                                        <div class="btn btn-block btn-primary btn-419 b0 br0">买入</div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>