<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/news.css">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul id="nav_left" class="text-center bg-white  nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        <span class="fz_14">官方公告</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span class="fz_14">官方公告</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span class="fz_14">官方公告</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span class="fz_14">官方公告</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-10 page-right">
            <p class="blog-cat">
                <strong>"官方公告"</strong>类别下的新闻列表
            </p>
            <div id="envor-posts-timeline">
                <ul class="cbp_tmtimeline">

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-18 18:30">
                            <span>12/18/2017</span>
                            <span>18:30</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=63&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_126058-210x210.jpg"
                                            alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=63&amp;type=proclamation" target="_blank"> USDT，
                                            QTUM钱包升级维护完成
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=63&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-16 08:32">
                            <span>12/16/2017</span>
                            <span>08:32</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=62&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=62&amp;type=proclamation" target="_blank"> 关于BTH BCX LBTC
                                            糖果发放和开放交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=62&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-14 17:53">
                            <span>12/14/2017</span>
                            <span>17:53</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=61&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=61&amp;type=proclamation" target="_blank"> QTUM
                                            Ripple钱包升级维护
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=61&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-14 16:44">
                            <span>12/14/2017</span>
                            <span>16:44</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=59&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=59&amp;type=proclamation" target="_blank"> USDT钱包升级维护
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=59&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-13 20:39">
                            <span>12/13/2017</span>
                            <span>20:39</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=58&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=58&amp;type=proclamation" target="_blank"> QTUM钱包升级维护完成
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=58&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-13 18:00">
                            <span>12/13/2017</span>
                            <span>18:00</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=57&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=57&amp;type=proclamation" target="_blank"> 关于上线TV（钛值）交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=57&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-13 13:36">
                            <span>12/13/2017</span>
                            <span>13:36</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=56&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=56&amp;type=proclamation" target="_blank">
                                            关于上线INK(墨客)交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=56&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-12 23:07">
                            <span>12/12/2017</span>
                            <span>23:07</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=54&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=54&amp;type=proclamation" target="_blank"> UBTC
                                            ，SBTC已完成发放的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=54&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-12 11:44">
                            <span>12/12/2017</span>
                            <span>11:44</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=53&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_78046-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=53&amp;type=proclamation" target="_blank"> 关于QTUM钱包维护的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=53&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-12 09:10">
                            <span>12/12/2017</span>
                            <span>09:10</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=52&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_77305-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=52&amp;type=proclamation" target="_blank"> 关于近期比特币糖果发放的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=52&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-11 13:35">
                            <span>12/11/2017</span>
                            <span>13:35</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=51&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_73756-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=51&amp;type=proclamation" target="_blank"> 关于开放UBTC交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=51&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-10 15:34">
                            <span>12/10/2017</span>
                            <span>15:34</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=50&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_71122-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=50&amp;type=proclamation" target="_blank">
                                            关于开放SBTC/BTC交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=50&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-08 09:05">
                            <span>12/08/2017</span>
                            <span>09:05</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=47&amp;type=proclamation" target="_blank"><img src="" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=47&amp;type=proclamation" target="_blank">
                                            关于发放比特币糖果（SBTC、UBTC、LBTC等）及交易的公告
                                        </a>
                                    </h3>
                                </header>
                                <p>ZB本着用户权益第一的原则，将一如既往的为用户保存好各种分叉币资产，并根据市场需求开放分叉币的交易市场。</p>
                                <p>
                                    <a href="/i/blog?item=47&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-07 18:29">
                            <span>12/07/2017</span>
                            <span>18:29</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=46&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_61904-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=46&amp;type=proclamation" target="_blank"> 关于ZB
                                            GLOBAL全球业务进展的公告
                                        </a>
                                    </h3>
                                </header>
                                <p>ZB.COM预计于2018年一季度挂牌并开放韩元、欧元的交易市场；预计在2018年一季度末取得美国泰国执业牌照，并开放美元、泰铢的交易市场。</p>
                                <p>
                                    <a href="/i/blog?item=46&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-12-05 20:34">
                            <span>12/05/2017</span>
                            <span>20:34</span>
                        </time>
                        <div class="cbp_tmicon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <article class="envor-post">
                                <figure>
                                    <a href="/i/blog?item=44&amp;type=proclamation" target="_blank"><img
                                            src="https://img1.zb.com/up/11/s/313A313A3131_55958-210x210.jpg" alt=""></a>
                                </figure>
                                <header>
                                    <h3>
                                        <a href="/i/blog?item=44&amp;type=proclamation" target="_blank"> 11月份推荐人奖励发放公告
                                        </a>
                                    </h3>
                                </header>
                                <p></p>
                                <p>
                                    <a href="/i/blog?item=44&amp;type=proclamation" target="_blank"
                                       class="envor-btn envor-btn-small envor-btn-secondary-border">查看详情
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </p>
                            </article>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="envor-pagination pull-right page_nav">
                <span class="Pbtn first">第一页</span><span class="Pbtn pre"><i>&lt;</i> 上一页</span>
                <a class="num current">1</a><a href="" class="num">2</a><a href="" class="num">3</a><a class="Pbtn next"
                                                                                                       href="">下一页<i>&gt;</i></a>
            </div>
        </div>
    </div>
</div>
<script src="../lib/js/jquery.min.js"></script>
<script src="../lib/js/bootstrap.min.js"></script>
<script>
    $('#nav_left li').click(function () {
        $(this).addClass('active').find('.glyphicon').attr('class', 'glyphicon glyphicon-folder-open');
        $(this).siblings().removeClass('active').find('.glyphicon').attr('class', 'glyphicon glyphicon-folder-close')
    })
</script>
</body>
</html>