<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资产管理</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon_img.css">
    <style>
    </style>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <img src="../images/zc_img/banner.jpg" width="100%" alt="banner">
                    </div>
                    <div>
                        <h2>官方公告</h2>
                        <dl>
                            <dt>揭露Vpal（v宝）：与比特币等加密货币没有任何关...
                                <span class="pull-right">2017.11.20</span>
                            </dt>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                        </dl>
                        <ul class="text-center list-inline">
                            <li class="active">
                                <a href="">1</a>
                            </li>
                            <li>
                                <a href="">2</a>
                            </li>
                            <li>
                                <a href="">3</a>
                            </li>
                            <li>
                                <a href="">4</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>行业公告</h2>
                        <dl>
                            <dt>揭露Vpal（v宝）：与比特币等加密货币没有任何关...
                                <span class="pull-right">2017.11.20</span>
                            </dt>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                            <dd>关于恢复以太坊ETH充提币的公告
                                <span class="pull-right">2017.11.20</span>
                            </dd>
                        </dl>
                        <ul class="text-center list-inline">
                                <li class="active">
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">4</a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p> BTC行情</p>
                                <span>54236.50 CNY </span>
                                <p class="text-right fz0"> &nbsp;
                                    <i class="icon icon_d icon-up"></i>
                                </p>

                            </li>
                            <li class="list-group-item">
                                <p> BTC行情</p>
                                <span>54236.50 CNY </span>
                                <p class="text-right fz0"> &nbsp;
                                    <i class="icon icon_d icon-up"></i>
                                </p>

                            </li>
                            <li class="list-group-item">
                                <p> BTC行情</p>
                                <span>54236.50 CNY </span>
                                <p class="text-right fz0"> &nbsp;
                                    <i class="icon icon_d icon-up"></i>
                                </p>

                            </li>
                        </ul>
                    </div>
                    <div class="bg-white">
                        <div>
                            <img src="../images/zc_img/phb.jpg" width="100%" alt="">
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img class="pull-left" src="../images/zc_img/user.png" alt="" class="img-circle">
                                <p>天道酬勤的去卖比特币</p>
                                <span>交易笔数：1693</span>
                                <div class="pull-right text-center top1">
                                    1
                                </div>
                            </li>
                            <li class="list-group-item">
                                <img class="pull-left" src="../images/zc_img/user.png" alt="" class="img-circle">
                                <p>天道酬勤的去卖比特币</p>
                                <span>交易笔数：1693</span>
                                <div class="pull-right text-center top1">
                                    1
                                </div>
                            </li>
                            <li class="list-group-item">
                                <img class="pull-left" src="../images/zc_img/user.png" alt="" class="img-circle">
                                <p>天道酬勤的去卖比特币</p>
                                <span>交易笔数：1693</span>
                                <div class="pull-right text-center top1">
                                    1
                                </div>
                            </li>
                            <li class="list-group-item">
                                <img class="pull-left" src="../images/zc_img/user.png" alt="" class="img-circle">
                                <p>天道酬勤的去卖比特币</p>
                                <span>交易笔数：1693</span>
                                <div class="pull-right text-center top1">
                                    1
                                </div>
                            </li>
                            <li class="list-group-item">
                                <img class="pull-left" src="../images/zc_img/user.png" alt="" class="img-circle">
                                <p>天道酬勤的去卖比特币</p>
                                <span>交易笔数：1693</span>
                                <div class="pull-right text-center top1">
                                    1
                                </div>
                            </li>
                        </ul>
                        <ul class="text-center list-inline">
                                <li class="active">
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">4</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>