<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/user.css">
    <style>

    </style>
</head>


<body ontouchstart>
    <div class="header">
        <div>
            我的
        </div>
    </div>
    <div id="wy-user-box" class="weui-tab">
        <div class=" user_box">
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="weui-cells">
                        <div class="weui-cell user_item">
                            <div class="weui-cell__hd wy-chd">
                                <img width="60" src="../../images/avatar.jpg">
                            </div>
                            <div class="weui-cell__bd">
                                <p class="user_name">
                                    <a href="../login/login.html">登录/注册</a>
                                </p>
                                <p class="wy-jy-hp">
                                    交易:
                                    <span>783</span>
                                    | 好评:
                                    <span>98%</span>
                                    | 信任:
                                    <span>273</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-flex wy-jyjl">
                <div class="weui-flex__item">
                    <a href="user_jyjl.html">我购买的</a>
                </div>
                <div class="weui-flex__item">
                    <a href="user_jyjl.html">我出售的</a>
                </div>
            </div>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="user_adv.html">
                        <div class="weui-cell__hd">
                            <img src="../../img/guanggao.png" width="30">
                        </div>
                        <div class="weui-cell__bd">
                            <p>我的广告</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="../../view/user/xiugaixinxi.html">
                        <div class="weui-cell__hd">
                            <img src="../../img/xxxg.png" width="30">
                        </div>
                        <div class="weui-cell__bd">
                            <p>信息修改</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="../pwd/changepwd.html">
                        <div class="weui-cell__hd">
                            <img src="../../img/mmxg4.png" width="30">
                        </div>
                        <div class="weui-cell__bd">
                            <p>登录密码修改</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="../pwd/changezjpwd.html">
                        <div class="weui-cell__hd">
                            <img src="../../img/zijinmima.png" width="30">
                        </div>
                        <div class="weui-cell__bd">
                            <p>资金密码修改</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <img src="../../img/dengchu.png" width="30">
                        </div>
                        <div class="weui-cell__bd">
                            <p>登出</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>


            </div>
        </div>

    </div>
    <div class="weui-tab footer-menu">
        <div class="weui-tabbar">
            <a href="../../index.html" class="weui-tabbar__item ">
                <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span> -->
                <div class="weui-tabbar__icon">
                    <img src="../../img/jiaoyi1.png" alt="">
                </div>
                <p class="weui-tabbar__label">交易</p>
            </a>
            <a href="../dingdan/dingdan.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../img/dindan.png" alt="">
                </div>
                <p class="weui-tabbar__label">订单</p>
            </a>
            <a href="javascript:;" data-target="#fabu" class="open-popup weui-tabbar__item">
                <div id="fabu_btns" class="weui-tabbar__icon">
                    <img src="../../img/jia.png" alt="">
                </div>
            </a>
            <a href="../caiwu/caiwu.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../img/qianbao.png" alt="">
                </div>
                <p class="weui-tabbar__label">财务</p>
            </a>
            <a href="./user.html" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="../../img/user.png" alt="">

                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
    <div id="fabu" class="weui-popup__container popup-bottom">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="weui-flex" style="text-align: center;">
                <div class="weui-flex__item">
                    <a href="../adv/fabu.html">
                        <div class="fabu_lo">
                            <img src="../../img/pays.png" width="32" alt="">
                        </div>
                        <p>发布购买广告</p>
                    </a>
                </div>
                <div class="weui-flex__item">
                    <a href="../adv/fabu.html">
                        <div class="fabu_lo wy-out">
                            <img src="../../img/chushou.png" width="32" alt="">
                        </div>
                        <p>发布出售广告</p>
                    </a>
                </div>
            </div>
            <div class="weui-flex close_box" style="text-align: center;">
                <div class="weui-flex__item">
                    <a href="javascript:;" class='close-popup'>
                        <div class="close_btn">
                            <img src="../../img/jia.png" width="100%" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="../../jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../../jquery-weui/dist/js/jquery-weui.min.js"></script>
    <script src="../../jquery-weui/dist/lib/fastclick.js"></script>
    <script src="../../jquery-weui/dist/js/swiper.min.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>


</body>

</html>