<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>我的简历</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../lib/jl_files/css/jl.css">
</head>
<style>
    .gx_main {
        padding-top: 40px;
    }
</style>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">职位库</a>
                        </li>
                        <li>
                            <a href=""> 简历库</a>
                        </li>
                        <li>
                            <a href=""> 猎头服务</a>
                        </li>
                        <li>
                            <a href=""> 人才服务</a>
                        </li>
                        <li>
                            <a href=""> 培训服务</a>
                        </li>

                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main" id="resume">

        <div class="wrap">

            <div class="row">
                <div class="span span23">
                    <div class="resume-bar clearfix">

                        <div class="resume-name">
                            <em title="">中文简历_201...</em>
                            <a href="javascript:;" class="icons16 icons16-redit float-left"></a>
                        </div>
                        <div class="float-right">
                            <a href="" target="_blank">预览</a>
                            <i class="dot">|</i>

                            <a href="">下载</a>
                            <i class="dot">|</i>

                            <a href="javascript:;">刷新</a>

                        </div>
                        <div class="resume-rename hide">
                            <input type="text" class="text input-medium">
                            <input type="button" class="btn btn-primary btn-mini" value="保存">
                            <a href="javascript:;">取消</a>
                        </div>
                    </div>

                    <div class="card-info">

                        <div id="nodetpl_g">
                            <div class="card-main clearfix">
                                <div class="avatar-main">
                                    <p class="avatar-img">
                                        <img class="middleFace" src="../../lib/jl_files/59fb6bc87832e11b8819d95d06a(1).png" alt="">
                                    </p>
                                </div>
                                <div class="info-content">
                                    <p class="user-name">
                                        黎东明


                                        <i class="icons16 icons16-redit"></i>
                                    </p>
                                    <p class="f14">前端开发&nbsp;-&nbsp;广西金中软件有限公司</p>
                                    <p class="muted">
                                        <b>广西</b>&nbsp;|&nbsp;
                                        <b>计算机软件</b>&nbsp;|&nbsp;
                                        <b>WEB前端开发工程师</b>&nbsp;|&nbsp;

                                        <b>工作 1 年以上</b>

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="resume">
                        <div class="resume-title">
                            <i class="icons32 icons32-clipboard"></i>
                            基本资料
                            <em class="tips-required">必填
                                <i></i>
                            </em>
                        </div>
                        <div class="resume-user-info">

                            <div id="nodetpl_g_2">
                                <div>
                                    <div class="resume-complete">
                                        <table class="resume-table">
                                            <tbody>

                                                <tr>
                                                    <th>出生年份：</th>
                                                    <td>

                                                        1994年

                                                    </td>
                                                    <th>婚姻状况：</th>
                                                    <td>

                                                        未婚

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>手机：</th>
                                                    <td>

                                                        182****9642






                                                    </td>
                                                    <th>邮箱：</th>
                                                    <td>

                                                        10517****3@qq.com






                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>国籍：</th>
                                                    <td>

                                                        中国

                                                    </td>
                                                    <th>户口：</th>
                                                    <td>

                                                        梧州

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>状态：</th>
                                                    <td>

                                                        离职，正在找工作

                                                    </td>
                                                    <th> </th>
                                                    <td>



                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="edit-btns">
                                            <i class="icons16 icons16-redit"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="resume-title" id="credit-job-want">
                            <i class="icons32 icons32-portfolio"></i>
                            职业意向
                            <em class="tips-required">必填
                                <i></i>
                            </em>
                        </div>
                        <div class="resume-job-want">

                            <div id="nodetpl_g_3">
                                <div id="">
                                    <div class="resume-no hide">
                                        <p>准确的职业意向能大大提高求职的成功率和猎头推荐职位的成功率！</p>
                                        <p>快来添加你的职业意向吧！</p>
                                    </div>

                                    <div class="resume-complete ">
                                        <table>

                                            <tbody>
                                                <tr>
                                                    <th>期望行业：</th>
                                                    <td>
                                                        计算机软件

                                                    </td>
                                                </tr>



                                                <tr>
                                                    <th>期望职能：</th>
                                                    <td>WEB前端开发工程师</td>
                                                </tr>



                                                <tr>
                                                    <th>期望地点：</th>
                                                    <td>广西</td>
                                                </tr>



                                                <tr>
                                                    <th>期望年薪：</th>
                                                    <td>

                                                        面议

                                                    </td>
                                                </tr>



                                                <tr>
                                                    <th>目前年薪：</th>
                                                    <td>

                                                        保密

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="edit-btns">
                                            <a href="javascript:;" class="icons16 icons16-redit"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>



                        <div class="resume-title" id="credit-work-experience">
                            <i class="icons32 icons32-calendar"></i>
                            工作经历
                            <em class="tips-required">必填
                                <i></i>
                            </em>
                        </div>
                        <div class="resume-work-exp">

                            <div id="nodetpl_g_4">
                                <div id="">

                                    <div class="resume-no hide">
                                        工作经历最能体现你的能力，且完善后才可投递简历哦！
                                    </div>

                                    <div class="resume-complete">


                                        <div class="difwork">

                                            <h1 class="company-name" title="广西金中软件有限公司">
                                                <span class="company-job-title">
                                                    <span class="job-name">前端开发</span>
                                                    <span>广西金中软件有限公司</span>
                                                </span>
                                                <time class="experience-time">
                                                    （2017.07 － 至今）
                                                </time>
                                                <span class="yanzheng"></span>
                                                <div class="btns">
                                                    <i class="icons16 icons16-redit" data-id="53173210"></i>
                                                    <i class="icons16 icons16-delete" data-id="53173210"></i>
                                                </div>
                                            </h1>
                                            <div class="company-box">
                                                <div class="workinfo">

                                                    工作地点：广西 | 下属人数：0
                                                </div>
                                                <div class="jobinfo clearfix">
                                                    <label>职责业绩：</label>

                                                    <ul>
                                                        <li>协助产品、测试、美工完成日常工作，以easyUI、bootstrap、JavaScript、jQuery进行网站开发</li>
                                                    </ul>

                                                </div>
                                                <div class="company-info">
                                                    <ul>

                                                        <li>
                                                            <label>公司行业：</label>
                                                            <span>计算机软件</span>
                                                        </li>




                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="resume-add">
                                        <em>+</em> 添加工作经历
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="resume-title">
                            <i class="icons32 icons32-book"></i>
                            教育经历
                            <em class="tips-required">必填
                                <i></i>
                            </em>
                        </div>
                        <div class="resume-edu-exp">

                            <div id="nodetpl_g_5">
                                <div id="">

                                    <div class="resume-no muted hide">
                                        教育经历最能体现你的学习和专业能力，且完善后才可投递简历哦！
                                    </div>

                                    <div class="resume-complete">

                                        <dl class="nobd">
                                            <dt class="school clearfix">
                                                <div class="btns">

                                                    <i class="icons16 icons16-redit" data-id="30086840"></i>

                                                    <i class="icons16 icons16-delete" data-id="30086840"></i>
                                                </div>
                                                <strong>广西经济职业学院</strong>（2014/09–2017/07）

                                            </dt>
                                            <dd class="detail clearfix">
                                                <span class="w1">专业名称：计算机应用技术</span>
                                                <span>学历：大专</span>
                                                <span>是否统招：否</span>
                                            </dd>
                                        </dl>

                                    </div>

                                    <div class="resume-add">
                                        <em>+</em> 添加教育经历
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="resume-title">
                            <i class="icons32 icons32-e"></i>
                            语言能力
                        </div>
                        <div class="resume-language-ability">
                            <div id="nodetpl_g_6">
                                <div id="">
                                    <div class="resume-complete">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th width="60">语言能力 :</th>
                                                    <td>
                                                        <div class="btn-action">
                                                            普通话
                                                            <i class="icons16 icons16-redit" data-id=""></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>



                        <div class="resume-title" id="credit-item">
                            <i class="icons32 icons32-folder"></i>
                            项目经验
                        </div>
                        <div class="resume-project-exp">

                            <div id="nodetpl_g_7">
                                <div id="">

                                    <div class="resume-no hide">
                                        <p>项目经验是用人单位衡量人才能力的重要指标哦！</p>

                                        <p>来说说令你难忘的项目经历吧！</p>

                                    </div>

                                    <div class="resume-complete ">

                                        <dl>
                                            <dt class="clearfix">
                                                <div class="btns">
                                                    <i class="icons16 icons16-redit"></i>
                                                    <i class="icons16 icons16-delete"></i>
                                                </div>
                                                <strong title="">养老机构集团版</strong>（2017/08–2017/10）
                                            </dt>
                                            <dd>
                                                <table>
                                                    <tbody>

                                                        <tr>
                                                            <th>项目职务：</th>
                                                            <td>前端</td>
                                                        </tr>


                                                        <tr>
                                                            <th>所在公司：</th>
                                                            <td>广西金中软件有限公司</td>
                                                        </tr>


                                                        <tr>
                                                            <th>项目描述：</th>
                                                            <td>主要负责办公管理模块开发,实现了通讯录、通知公告、知识库、短信模板、短信发送等子模块，利用JavaScript、C#、SQLserver实现excel表格导入导出功能、表单打印功能、短信推送功能。</td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </dd>
                                        </dl>

                                    </div>

                                    <div class="resume-add">
                                        <em>+</em> 添加项目经验
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>


                        <div class="resume-title" id="credit-self">
                            <i class="icons32 icons32-comments"></i>
                            自我评价
                        </div>
                        <div class="resume-self-assess">

                            <div id="nodetpl_g_8">
                                <div id="">
                                    <div class="resume-no hide">
                                        <p>建议您对自己做一个简短评价，简明扼要的描述您的职业优势，让猎头顾问和企业HR快速了解您！填写文字限1000字以内</p>
                                    </div>

                                    <div class="resume-complete">
                                        <div class="text-content">踏实肯干、吃苦耐劳、有创造性、建设性地独立开展工作的思维；具有一定的开拓和创新精神，接受新事物较快。
                                            <br>在工作上遇到问题会使用搜狗英文、google查，参考前人遇到同样的问题是如何解决的。平时喜欢在stackoverflow、Github社区上学习、关注新技术。</div>
                                    </div>
                                    <a href="javascript:;" class="icons16 icons16-redit"></a>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="resume-title" id="credit-attach">
                            <i class="icons32 icons32-note"></i>
                            附加信息
                        </div>
                        <div class="resume-attach-info">

                            <div id="nodetpl_g_9">
                                <div>
                                    <div class="resume-no ">
                                        <p>如：获奖项、技能资格证书、专利等，填写文字1000字以内</p>
                                    </div>

                                    <div class="resume-add">
                                        <em>+</em> 添加附加信息
                                    </div>

                                </div>
                            </div>
                        </div>



                        <hr>
                        <div class="resume-title">
                            <em class="icons32 icons32-skill"></em>擅长技能
                        </div>
                        <div class="resume-skill-tag">

                            <div id="nodetpl_g_10">
                                <div id="">
                                    <div class="resume-no hide">
                                        <p>更准确的技能标签，让HR/猎头找到你？</p>
                                    </div>

                                    <div class="resume-complete clearfix">

                                        <p class="skill-tag">javascript</p>

                                        <p class="skill-tag">SQL Server</p>

                                        <p class="skill-tag">CSS</p>

                                        <p class="skill-tag">mysql</p>

                                        <p class="skill-tag">PHP</p>

                                    </div>
                                    <a href="javascript:;" class="icons16 icons16-redit"></a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="span span10 side">
                    <div class="private">
                        <div class="side-title">
                            简历隐私
                        </div>
                        <div class="content">
                            <ul>

                                <li class="clearfix">
                                    <p class="float-left">
                                        <i class="icons24 icons24-view"></i> 简历可见度：</p>

                                    <div class="resume-visible-set">
                                        <a href="javascript:;" class="resume-visible">
                                            <span>开放简历</span>
                                            <i></i>
                                        </a>
                                        <ul>
                                            <li>
                                                <a data-value="0" href="javascript:;" title="猎头顾问和企业HR都能看到">开放简历</a>
                                            </li>
                                            <li>
                                                <a data-value="3" href="javascript:;" title="暂时无跳槽需求，猎头顾问和企业HR都不能看到">隐藏简历</a>
                                            </li>
                                            <li>
                                                <a data-value="1" href="javascript:;" title="仅猎头顾问能看到">仅猎头可见</a>
                                            </li>
                                            <li>
                                                <a data-value="2" href="javascript:;" title="仅企业HR能看到">仅企业可见</a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="dotted">
                                    <p>
                                        <i class="icons24 icons24-lock"></i>
                                        屏蔽的企业：
                                    </p>
                                    <div class="company">
                                        <form>

                                            <p>
                                                <label>
                                                    <input type="radio" name="secret_e_shield" value="0" checked="checked" autocomplete="off"> 让所有企业都能搜到我</label>
                                            </p>
                                            <p>
                                                <label>
                                                    <input type="radio" name="secret_e_shield" value="1" autocomplete="off"> 我不想让某些企业搜索到我

                                                    <div class="tipsui tipsui-bottom" style="z-index: 2; width: 196px; left: 97.5469px; top: 26px; display: none;">
                                                        <div class="tipsui-content" style="margin-right: 0px; padding: 15px 18px;">
                                                            <span class="text-warning">输入关键词也可以达到智能屏蔽效果。</span>例：输入“猎聘”，名称包含“猎聘”的企业都不能搜到你。</div>
                                                        <div class="tipsui-arrow" style="left: 93px; top: -5px;">
                                                            <i></i>
                                                            <em></em>
                                                        </div>
                                                    </div>
                                                </label>
                                            </p>
                                            <div class="hide">
                                                <ul class="compay-show-list">

                                                    <li class="clearfix">
                                                        <div>
                                                            <p title="">广西金中软件有限公司</p>
                                                            <i class="icons16 icons16-delete float-right"></i>
                                                            <i class="icons16 icons16-redit float-right"></i>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="company-add-btn " href="javascript:;">
                                                    <i>+</i>添加屏蔽企业</a>
                                            </div>
                                        </form>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved</div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/youdaoSlides/js/jquery-1.10.1.min.js"></script>

    <script>
        jQuery(function () {
            jQuery('.resume-name .icons16-redit').click(function () {
                jQuery('.resume-name').hide();
                jQuery('.resume-rename').show().find('a').click(function () {
                    jQuery('.resume-rename').hide();
                    jQuery('.resume-name').show();
                })
            })
        });
    </script>
</body>

</html>