<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>预览简历</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/rencai/jlyl.css"/>
    <style>
        .gx_main {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo" />
                    </div>
                    <div class="title">
                        南宁高新区服务外包公共服务平台
                    </div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">职位库</a>
                        </li>
                        <li>
                            <a href=""> 简历库</a>
                        </li>
                        <li>
                            <a href=""> 猎头服务</a>
                        </li>
                        <li>
                            <a href=""> 人才服务</a>
                        </li>
                        <li>
                            <a href=""> 培训服务</a>
                        </li>
                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="gx_main" id="resume-view" >
        <div class="wrap view-wrap">
            <div class="tip clearfix">

                <p class="tip-main">联系我时请说明是在XX网上找到我的。</p>

                <a href="" class=" btn float-right">下载简历</a>
                <a href="" class=" btn float-right">修改简历</a>
            </div>
            <div class="view-main ">
                <div class="view-content view-card clearfix">
                    <img class="middleFace float-left" src="">
                    <div class="card-main">
                        <h3>黎某某
                            <span>男</span>
                        </h3>
                        <ul class="list clearfix">
                            <li>
                                <span class="list-title">目前公司：</span>

                                <p class="list-main" title="广西XX软件有限公司">广西XX软件有限公司</p>
                            </li>
                            <li>
                                <span class="list-title">所在地点：</span>
                                <p class="list-main">广西</p>
                            </li>
                            <li>
                                <span class="list-title">目前职位：</span>

                                <p class="list-main" title="前端开发">前端开发</p>
                            </li>
                            <li>
                                <span class="list-title">工作年限：</span>

                                <p class="list-main">10年以上</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-clipboard"></i>基本资料
                    </h3>
                    <ul class="list clearfix view-user-info-list">
                        <li>
                            <span class="list-title">年　　龄：</span>
                            <p class="list-main">24</p>
                        </li>
                        <li>
                            <span class="list-title">婚姻状况：</span>
                            <p class="list-main">未婚</p>
                        </li>
                        <li>
                            <span class="list-title">手　　机：</span>
                            <p class="list-main">182****9642</p>
                        </li>
                        <li>
                            <span class="list-title">邮　　箱：</span>
                            <p class="list-main">10517****3@qq.com</p>
                        </li>
                        <li>
                            <span class="list-title">国　　籍：</span>
                            <p class="list-main">中国</p>
                        </li>
                        <li>
                            <span class="list-title">户　　籍：</span>
                            <p class="list-main">梧州</p>
                        </li>
                        <li>
                            <span class="list-title">目前状态：</span>
                            <p class="list-main">离职，正在找工作</p>
                        </li>
                    </ul>
                </div>
                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-portfolio"></i>职业意向
                    </h3>
                    <ul class="list clearfix view-job-want-list">
                        <li>
                            <span class="list-title">期望行业：</span>
                            <p class="list-main">计算机软件</p>

                        </li>
                        <li>
                            <span class="list-title">期望职位：</span>
                            <p class="list-main">WEB前端开发工程师</p>
                        </li>
                        <li>
                            <span class="list-title">期望地点：</span>
                            <p class="list-main">广西</p>
                        </li>
                        <li>
                            <span class="list-title">期望年薪：</span>

                            <p class="list-main">面议</p>

                        </li>

                    </ul>
                </div>
                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-calendar"></i>工作经历
                    </h3>


                    <div class="view-company">

                        <h3 class="company-name" data-rwdid="53173210">
                            <b>
                                2017.07 -至今
                            </b>广西XX软件有限公司</h3>
                        <div class="view-company-main">
                            <ul class="list clearfix">
                                <li>
                                    <span class="list-title">公司描述：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司性质：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司规模：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司行业：</span>
                                    <p class="list-main">计算机软件</p>
                                </li>
                            </ul>

                            <div class="job-main">
                                <h4>前端开发
                                    <b>
                                        2017.07-至今
                                    </b>
                                </h4>
                                <ul class="list clearfix">
                                    <li>
                                        <span class="list-title">薪酬状况：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">工作地点：</span>
                                        <p class="list-main">广西</p>
                                    </li>
                                    <li>
                                        <span class="list-title">所在部门：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">汇报对象：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">下属人数：</span>
                                        <p class="list-main">0</p>
                                    </li>
                                    <li>
                                        <span class="list-title">职责业绩：</span>
                                        <p class="list-main">完成日常工作完成日常工作完成日常工作完成日常工作完成日常工作完成日常工作
                                            <br> </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <h3 class="company-name" data-rwdid="53204389">
                            <b>
                                2017.02 -2018.01
                            </b>1111111111111111</h3>
                        <div class="view-company-main">
                            <ul class="list clearfix">
                                <li>
                                    <span class="list-title">公司描述：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司性质：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司规模：</span>
                                    <p class="list-main">&nbsp;</p>
                                </li>
                                <li>
                                    <span class="list-title">公司行业：</span>
                                    <p class="list-main">基金/证券/期货/投资</p>
                                </li>
                            </ul>

                            <div class="job-main">
                                <h4>11111111111111
                                    <b>
                                        2017.02-2018.01
                                    </b>
                                </h4>
                                <ul class="list clearfix">
                                    <li>
                                        <span class="list-title">薪酬状况：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">工作地点：</span>
                                        <p class="list-main">黔东南</p>
                                    </li>
                                    <li>
                                        <span class="list-title">所在部门：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">汇报对象：</span>
                                        <p class="list-main">&nbsp;</p>
                                    </li>
                                    <li>
                                        <span class="list-title">下属人数：</span>
                                        <p class="list-main">0</p>
                                    </li>
                                    <li>
                                        <span class="list-title">职责业绩：</span>
                                        <p class="list-main">1111111111111111111112313</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-book"></i>教育经历
                    </h3>
                    <div class="view-table">

                        <dl class="nobd">
                            <dt>123（ 2018.09-至今 ）
                            </dt>
                            <dd class="clearfix">
                                <span>专业名称：123</span>
                                <span>学历：本科</span>
                                <span>是否统招：是</span>
                            </dd>
                        </dl>

                        <dl>
                            <dt>1424（ 2017.09-2017.12 ）
                            </dt>
                            <dd class="clearfix">
                                <span>专业名称：123</span>
                                <span>学历：硕士</span>
                                <span>是否统招：是</span>
                            </dd>
                        </dl>

                    </div>
                </div>

                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-e"></i>语言能力
                    </h3>
                    <p class="view-area">普通话</p>
                </div>

                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-folder"></i>项目经历
                    </h3>

                    <h4 class="view-project-title">XXXX集团版
                        <b>
                            2017.08-2017.10
                        </b>
                    </h4>
                    <ul class="list clearfix view-project-list">
                        <li>
                            <span class="list-title">项目职务：</span>
                            <p class="list-main">前端</p>
                        </li>
                        <li>
                            <span class="list-title">所在公司：</span>
                            <p class="list-main">广西XX软件有限公司</p>
                        </li>
                        <li>
                            <span class="list-title">项目描述：</span>
                            <p class="list-main">主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模主要负责办公管理模</p>
                        </li>
                        <li>
                            <span class="list-title">项目职责：</span>
                            <p class="list-main">&nbsp;</p>
                        </li>
                        <li>
                            <span class="list-title">项目业绩：</span>
                            <p class="list-main">&nbsp;</p>
                        </li>
                    </ul>

                </div>

                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-comments"></i>自我评价
                    </h3>
                    <p class="view-area">124444444444124142</p>
                </div>

                <div class="view-content">
                    <h3 class="resume-title">
                        <i class="icons32 icons32-note"></i>附加信息
                    </h3>
                    <p class="view-area">12222222222222</p>
                </div>


                <div class="view-content">
                    <h3 class="resume-title">
                        <em class="icons32 icons32-skill"></em>擅长技能
                    </h3>
                    <p class="view-area">12222222222222</p>
                </div>

            </div>
        </div>
    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>
                XXXXX版权所有 Copyright&copy;XXX.com All Rgith Reserved
            </div>
            <div>
                客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任
            </div>
            <div>
                广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号
            </div>
        </div>
    </div>
    
</body>

</html>