<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>培训服务</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/rencai/zw_info.css">

</head>
<style>
</style>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">职位库</a>
                        </li>
                        <li>
                            <a href=""> 简历库</a>
                        </li>
                        <li>
                            <a href=""> 猎头服务</a>
                        </li>
                        <li>
                            <a href=""> 人才服务</a>
                        </li>
                        <li>
                            <a href=""> 培训服务</a>
                        </li>

                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container ">

            <div class="gx_left">
                <div class="gx_panle">
                    <div class="gx_panle_header">
                        <div class="gx_gs_name">广西金岸网络科技有限公司</div>
                        <div class="gx_zw_name">副总经理(高新区年薪10-15万)</div>
                        <div class="gx_gz">
                            <span class="gz_num">10K-15K</span>
                            <span>经验5-10年/学历无限</span>
                        </div>
                        <div class="gx_tx">
                            有成熟的晋升体系，提成高
                        </div>


                    </div>
                    <div class="gx_panle_body">
                        <p class="gx_content" id="">

                            1、本公司具备完善的薪酬福利制度，专项专业的人才培养计划、合情合理畅通的晋升发展平台；
                            <br>2、工作时间：9：00——18:00，7.5小时/天——周末还双休；
                            <br>3、底薪&nbsp;提成&nbsp;补贴&nbsp;五险&nbsp;带薪年休&nbsp;每年外出旅游&nbsp;年终奖&nbsp;节日福利及生日礼物；
                            <br>4、除了国家法定假日外还有当地风土人情习俗休假的哦；
                            <br>5、良好温馨的办公场所。
                            <br>
                            <br>
                            <br>注意事项：
                            <br>1、应聘者请准备一份个人简历。
                            <br>2、应聘方式：直接在广西人才网上投递简历。
                            <br>&nbsp;（合则约见，如无预约，请不要擅自上门，以免影响正常工作，谢谢配合！）
                            <br>3、经审核符合条件者，我司将另行通知面试时间。未被录用人员的资料将代为保密，录入人才库，恕不退还。
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="gx_panle_footer">
                        <div class="gx_wdd">工作地点</div>
                        <div>
                            广西南宁西乡塘区高新区
                        </div>
                    </div>
                </div>
                <div class="gx_section1">
                    <div class="gx_jl">
                        当前简历：
                        <span>我的简历</span>
                        <a href="" class="gx_tdjl">投递简历</a>
                    </div>
                </div>
            </div>
            <div class="gx_right">
                <div class="gx_gs_tx">
                    <div class="img_box">
                        <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                    </div>
                    <div class="gx_gs_name">
                        广西金岸网络科技有限公司
                    </div>
                    <a href="">查看主页</a>
                </div>

                <div class="gx_gs_js">
                    <h4>简介</h4>
                    <p> 本公司是一家数据化营销服务提供商，是上海秉钧网络科技股份有限公司（隶属亚太地区最大软件公司用友集团）旗下子公司。公司业务：APP开发，数字整合营销推广，搜索引擎优化，数字互动创意，数据采集运营分析，公司拥有一支有十年以上互联网产品营销、服务、技术等资深经验的团队，以创新的营销模式、优质的推广服务、专业的技术开发，致力于服务全球范围内的大中小企业
                    </p>
                    <img src="../../img/rencai/154.jpg" alt="">
                    <img src="../../img/rencai/132.jpg" alt="">
                </div>
            </div>

        </div>



    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved</div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>

</body>

</html>