<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>职位库</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/rencai/follow_cv.css">
</head>
<style>
</style>

<body>
<div class="gx_header">
    <div class="fwpt">
        <div class="fwpt_list">
            <a href="">外包项目服务平台</a>
            <a href="">外包人才服务平台</a>
            <a href="">投融资服务平台</a>
        </div>
    </div>
    <div class="gx_header_wrap">
        <div class="gx_header_content">
            <div class="title_content">
                <div class="logo">
                    <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                </div>
                <div class="title">南宁高新区服务外包公共服务平台</div>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a class="on" href=""> 首页</a>
                    </li>
                    <li>
                        <a href="">职位库</a>
                    </li>
                    <li>
                        <a href=""> 简历库</a>
                    </li>
                    <li>
                        <a href=""> 猎头服务</a>
                    </li>
                    <li>
                        <a href=""> 人才服务</a>
                    </li>
                    <li>
                        <a href=""> 培训服务</a>
                    </li>

                </ul>
            </div>
            <div class="login">
                <a href="">注册</a>
                <a href="">登录</a>
            </div>
        </div>

    </div>

</div>

<div class="gx_main">
    <div class="gx_banner">
        <img src="../../img/rencai/banner.jpg" width="100%" alt="">
    </div>
    <div class="gx_container clearfix">
        <div class="gx_left">
            <div class="gx_rw_table">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <caption>
                        职位库
                    </caption>
                    <thead>
                    <tr>
                        <th>企业名称</th>
                        <th>职位名称</th>
                        <th>发布时间</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>

                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="35%">牧云云海</td>
                        <td width="35%">飞利浦机电工程学院</td>
                        <td width="15%">2018-18-18</td>
                        <td width="15%" align="right">
                            <a href="" class="gx_rw_ck">查看</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <a href="" class="gx_list_more">查看更多</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="gx_right ">
            <a href="" class="gx_rw_fb clearfix">
                发布职位
            </a>
            <div class="gx_rw_cz clearfix">
                <a href="">关注的简历</a>
                <a href="">收到的简历</a>
            </div>


        </div>


    </div>

</div>
<div class="gx_footer">
    <div class="gx_yq_link">
        <div class="gx_container">
            <h3>友情链接</h3>
            <div class="gx_fz_17">
                <a href="">广西金岸网络科技有限公司</a>
                <a href="">广西金岸网络科技有限公司</a>
                <a href="">广西金岸网络科技有限公司</a>
                <a href="">广西金岸网络科技有限公司</a>
                <a href="">广西金岸网络科技有限公司</a>

            </div>
        </div>
    </div>
    <div class="gx_section1">
        <a href="">网站首页</a>
        <a href="">网站首页</a>
        <a href="">网站首页</a>
        <a href="">网站首页</a>
        <a href="">网站首页</a>
        <a href="">网站首页</a>
        <a href="">网站首页</a>
    </div>
    <div class="gx_section2">
        <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved</div>
        <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
        <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

    </div>
</div>
<script src="../../lib/jquery-1.10.1.min.js"></script>

<script>
    jQuery(function () {
        jQuery('.gx_tab li').mousemove(function () {
            jQuery(this).addClass('on').siblings().removeClass('on');
        }).mouseout(function () {
            jQuery(this).removeClass('on');
        })
    });
</script>
</body>

</html>