<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/help.css">
    <style>

    </style>
</head>


<body ontouchstart>
<div class="header">
    <div>
        <img class="back" height="35" src="../../img/back.png" alt=""> 修改密码
    </div>
</div>
<div id="wy-box" class="weui-tab">
    <div class="weui-tab__bd">
        <div class="weui-tab__bd-item weui-tab__bd-item--active">
            <form action="" class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">当前密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" placeholder="请输入旧密码">
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">新密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">确认密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" placeholder="请重新输入密码">
                    </div>
                </div>

                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <button type="submit" class="wy-reg-btn weui-btn">确定</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="../../jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="../../jquery-weui/dist/js/jquery-weui.min.js"></script>
<script src="../../jquery-weui/dist/lib/fastclick.js"></script>
<script src="../../jquery-weui/dist/js/swiper.min.js"></script>
<script src="../../js/common.js"></script>


</body>

</html>