<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>工具库</title>

    <link rel="stylesheet" href="../../css/style.css">

    <link rel="stylesheet" href="../../css/xiangmuguanli/gjk.css">

</head>


<body>
    <div class="xmsys_header">
        <div>南宁市高新区工具库</div>
    </div>
    <div class="xmsys_menu">
        <div class="list">
            <ul class="yiji">
                <li class="inactive">

                    <a href="#">
                        <img src="../../img/xiangmuguanli/icon/index.png" alt="">工具上传</a>
                </li>
                <li>

                    <a href="#" class="">
                        <img src="../../img/xiangmuguanli/icon/xmgl.png" alt="">审核</a>
                </li>
                <li>

                    <a href="#" class="">
                        <img src="../../img/xiangmuguanli/icon/cs.png" alt="">升级</a>

                </li>
                <li>

                    <a href="#" class="">
                        <img src="../../img/xiangmuguanli/icon/download.png" alt="">下载</a>

                </li>
                <li>

                    <a href="#" class="">
                        <img src="../../img/xiangmuguanli/icon/fb.png" alt="">发布</a>

                </li>
                <li>

                    <a href="#" class="">
                        <img src="../../img/xiangmuguanli/icon/sj.png" alt="">数据统计</a>

                </li>


            </ul>
        </div>
    </div>
    <div class="xmsys_content">
        123
    </div>


    <script src="../../lib/jquery-1.10.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.xmsys_menu .yiji li').click(function () {
                $(this).addClass('inactive').siblings('li').removeClass('inactive')
            })
        });



    </script>
</body>

</html>