<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>项目管理系统</title>

    <link rel="stylesheet" href="../../css/style.css">

    <link rel="stylesheet" href="../../css/xiangmuguanli/xmgl.css">

</head>


<body>
    <div class="xmsys_header">
        <div>南宁市高新区项目管理系统</div>
    </div>
    <div class="xmsys_menu">
        <div class="list">
            <ul class="yiji">
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/index.png" alt="">我的首页</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">代办</a>
                        </li>
                        <li>
                            <a href="#" class=" ">任务</a>
                        </li>
                        <li>
                            <a href="#" class=" ">BUG</a>
                        </li>
                        <li>
                            <a href="#" class=" ">测试</a>
                        </li>
                        <li>
                            <a href="#" class=" ">需求</a>
                        </li>
                        <li>
                            <a href="#" class=" ">项目</a>
                        </li>
                        <li>
                            <a href="#" class=" ">动态</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/xmgl.png" alt="">项目管理</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">需求</a>
                        </li>
                        <li>
                            <a href="#" class=" ">动态</a>
                        </li>
                        <li>
                            <a href="#" class=" ">计划</a>
                        </li>
                        <li>
                            <a href="#" class=" ">发布</a>
                        </li>
                        <li>
                            <a href="#" class=" ">线路图</a>
                        </li>
                        <li>
                            <a href="#" class=" ">文档</a>
                        </li>
                        <li>
                            <a href="#" class=" ">项目</a>
                        </li>
                        <li>
                            <a href="#" class=" ">模块</a>
                        </li>
                        <li>
                            <a href="#" class=" ">概括</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/cs.png" alt="">项目测试</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">BUG</a>
                        </li>
                        <li>
                            <a href="#" class=" ">用例</a>
                        </li>
                        <li>
                            <a href="#" class=" ">测试单</a>
                        </li>

                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/wdk.png" alt="">文档库</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">代办</a>
                        </li>
                        <li>
                            <a href="#" class=" ">任务</a>
                        </li>
                        <li>
                            <a href="#" class=" ">BUG</a>
                        </li>
                        <li>
                            <a href="#" class=" ">测试</a>
                        </li>
                        <li>
                            <a href="#" class=" ">需求</a>
                        </li>
                        <li>
                            <a href="#" class=" ">项目</a>
                        </li>
                        <li>
                            <a href="#" class=" ">动态</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/sj.png" alt="">数据统计</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">产品</a>
                        </li>
                        <li>
                            <a href="#" class=" ">项目</a>
                        </li>
                        <li>
                            <a href="#" class=" ">测试</a>
                        </li>
                        <li>
                            <a href="#" class=" ">组织</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/qx.png" alt="">用户权限</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class=" active">代办</a>
                        </li>
                        <li>
                            <a href="#" class=" ">任务</a>
                        </li>
                        <li>
                            <a href="#" class=" ">BUG</a>
                        </li>
                        <li>
                            <a href="#" class=" ">测试</a>
                        </li>
                        <li>
                            <a href="#" class=" ">需求</a>
                        </li>
                        <li>
                            <a href="#" class=" ">项目</a>
                        </li>
                        <li>
                            <a href="#" class=" ">动态</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" class="inactive">
                        <img src="../../img/xiangmuguanli/icon/zzgl.png" alt="">组织管理</a>
                    <ul style="display: none">
                        <li>
                            <a href="#" class="active">用户</a>
                        </li>
                        <li>
                            <a href="#" class=" ">部门</a>
                        </li>
                        <li>
                            <a href="#" class=" ">代办</a>
                        </li>
                        <li>
                            <a href="#" class=" ">日志</a>
                        </li>
                        <li>
                            <a href="#" class=" ">权限</a>
                        </li>
                        <li>
                            <a href="#" class=" ">公司</a>
                        </li>
                        <li>
                            <a href="#" class=" ">动态</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="xmsys_content">
        123
    </div>


    <script src="../../lib/jquery-1.10.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.xmsys_menu .inactive').click(function () {
                if ($(this).siblings('ul').css('display') == 'none') {
                    $(this).parent('li').siblings('li').removeClass('inactives');
                    $(this).addClass('inactives');
                    $(this).siblings('ul').slideDown(100).children('li');
                    $(this).parents('li').siblings('li').children('ul').slideUp(100);
                    $(this).siblings('ul').find('li a').click(function () {
                        $(this).addClass('active').parent('li').siblings('li').children('a').removeClass('active');
                    })
                } else {
                    $(this).removeClass('inactives');
                    $(this).siblings('ul').slideUp(100);

                }
            })
        });



    </script>
</body>

</html>