<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/dsfp.css">
    <title>电商扶贫</title>

</head>

<body>
    <div class="gx_warp">
        <div class="gx_banner">

        </div>

        <div class="gx_container">
            <div class="gx_title_img">
                <img src="../img/fp122_03.png" width="100%" alt="">
            </div>
            <div class="gx_list">
                <ul>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/mango.png" alt="">
                            </div>
                            <div class="cyfp">
                                <div>商品名称商品名称商品名称商品名称</div>
                                <span>
                                    <a href="">参与扶贫</a>
                                </span>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>