<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/miaosha.css">
    <title>三月三秒杀</title>

</head>

<body>
    <div class="gx_warp">
        <div class="gx_banner">

        </div>

        <div class="gx_container">
            <div class="gx_title_img">
                <img src="../img/index_17.png" width="100%" alt="">
            </div>
            <div class="gx_list">
                <ul>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售100%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售166%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="gx_img">
                                <img src="../img/gxllr_06.png" alt="">
                            </div>
                            <div class="gx_title">
                                商品名称商品名称商品名称商品名称商品
                            </div>
                            <div class="gx_ms">
                                <div class="gx_left">
                                    <div class="gx_ms_jg">
                                        <span>￥99.9</span>
                                        <s>￥199.9</s>
                                    </div>
                                    <div class="gx_ms_cs">
                                        <span class="ms_cs_bl">已售66%</span>
                                        <span class="ms_cs_jd">
                                            <span style="width:66%;"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="gx_right">
                                    <a href="">立即抢购</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>