<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>门户首页</title>
    <link rel="stylesheet" href="../../lib/youdaoSlides/css/idangerous.swiper.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menhu/index.css">
</head>
<style>
</style>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="./index.html"> 首页</a>
                        </li>
                        <li>
                            <a href="news.html"> 新闻资讯</a>
                        </li>
                        <li>
                            <a href=""> 技术支撑</a>
                        </li>
                        <li>
                            <a href="qy_list.html"> 企业综合信息</a>
                        </li>
                        <li>
                            <a href="wbzs.html"> 外包知识</a>
                        </li>
                        <li>
                            <a href="zcfg.html"> 政策法规</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container">
            <div class="gx_section1 clearfix">
                <div class="gx_main-middle">
                    <div class="gx_shadow">
                        <div class="gx_tab">
                            <ul>
                                <li class="on">
                                    <a href="javascript:void(0);"> 行业资讯</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"> 公告政策</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"> 外包动态</a>
                                </li>

                            </ul>

                        </div>
                        <div class="gx_tab_contant">
                            <div class="gx_tab_panle">
                                <ul>
                                    <li>
                                        <a href=""> 11南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="gx_tab_panle gx_hidden">
                                <ul>
                                    <li>
                                        <a href=""> 22南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="gx_tab_panle gx_hidden">
                                <ul>
                                    <li>
                                        <a href=""> 33南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                    <li>
                                        <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gx_main-left">

                    <!-- slides start -->

                    <div id="slides">
                        <div class="slides_container">
                            <div class="slide_item">
                                <img src="../../img/menhu/index/slide_01.jpg" width="400" height="314" alt="">
                                <div class="slide_title">中共十九届三中全会在京举行</div>
                            </div>
                            <div class="slide_item">
                                <img src="../../img/menhu/index/slide_01.jpg" width="400" height="314" alt="">
                                <div class="slide_title">中共十九届三中全会在京举行</div>
                            </div>
                            <div class="slide_item">
                                <img src="../../img/menhu/index/slide_01.jpg" width="400" height="314" alt="">
                                <div class="slide_title">中共十九届三中全会在京举行</div>
                            </div>

                        </div>
                        <div class="slideControl">

                            <ul class="pagination">

                                <li class="">
                                    <a href="#" rel="0"></a>
                                </li>

                                <li class="">
                                    <a href="#" rel="1"></a>
                                </li>

                                <li class="">
                                    <a href="#" rel="2"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- slides end -->
                </div>
                <div class="gx_main-right">
                    <div class="gx_shadow">
                        <div class="gx_title">
                            <span>公告公示</span>
                        </div>
                        <div class="gx_gg_list">
                            <ul>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gx_section2 ">
                <div class="gx_shadow">
                    <div class="gx_tab clearfix">
                        <ul>
                            <li class="on">
                                <a href="">人才需求</a>
                            </li>
                            <li>
                                <a href="">项目需求</a>
                            </li>
                            <li>
                                <a href="">投融资服务</a>
                            </li>
                        </ul>
                    </div>
                    <div class="gx_tab_contant">
                        <div class="gx_tab_panle ">
                            <table width="100%">
                                <caption>
                                    <div class="gx_search">
                                        <div class="gx_search-hd">
                                            <div class="gx_search-bg"></div>
                                            <input type="text" class="gx_search-input" placeholder="请输入您需要搜素的关键字">
                                            <button class="gx_btn-search" value="搜索">搜索</button>
                                        </div>
                                    </div>

                                </caption>
                                <tbody>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>11大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="gx_tab_panle gx_hidden">
                            <table width="100%">
                                <caption>
                                    <div class="gx_search">
                                        <div class="gx_search-hd">
                                            <div class="gx_search-bg"></div>
                                            <input type="text" class="gx_search-input" placeholder="请输入您需要搜素的关键字">
                                            <button class="gx_btn-search" value="搜索">搜索</button>
                                        </div>
                                    </div>

                                </caption>
                                <tbody>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>22大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="gx_tab_panle gx_hidden">
                            <table width="100%">
                                <caption>
                                    <div class="gx_search">
                                        <div class="gx_search-hd">
                                            <div class="gx_search-bg"></div>
                                            <input type="text" class="gx_search-input" placeholder="请输入您需要搜素的关键字">
                                            <button class="gx_btn-search" value="搜索">搜索</button>
                                        </div>
                                    </div>

                                </caption>
                                <tbody>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>33大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>￥
                                            <span class="gx_text-red">5000~8000</span>
                                        </td>
                                        <td>大数据研发工程师</td>
                                        <td>广西金岸网络科技有限公司</td>
                                        <td>￥
                                            <span class="gx_text-red">6000~8000</span>
                                        </td>
                                        <td>平面设计师</td>
                                        <td>合智五方企划有限公司</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gx_section3 clearfix">
                <div class="gx_main-middle">
                    <div class="gx_shadow">
                        <div class="gx_title">
                            <span>外包活动</span>
                            <a class="gx_more" href="">
                                <span>更多</span>
                            </a>
                        </div>
                        <div class="gx_gg_list">
                            <ul>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gx_main-left">
                    <div class="gx_shadow">
                        <div class="gx_title">
                            <span>产业信息</span>
                            <a class="gx_more" href="">
                                <span>更多</span>
                            </a>

                        </div>
                        <div class="gx_gg_list">
                            <ul>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gx_main-right">
                    <div class="gx_shadow">
                        <div class="gx_title">
                            <span>下载中心</span>
                            <a class="gx_more" href="">
                                <span>更多</span>
                            </a>

                        </div>
                        <div class="gx_gg_list">
                            <ul>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                                <li>
                                    <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="gx_yq_show">
            <h1 class="gx_text-center">园区展示</h1>

            <div id="gx_yq_slides" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="slide_left">
                            <img src="../../img/menhu/index/1.png" width="184" height="254" alt="">
                        </div>
                        <div class="slide_content">
                            <h3>中盟科技园</h3>
                            <div>法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>




        </div>
        <div class="gx_yj_content">

            <div class="gx_container">
                <h1 class="gx_text-center">愿景</h1>
                <div class="gx_yj_body">
                    <p>
                        最高人民法院院长周强从9个方面报告了最高人民法院过去五年的主要工作：一是认真贯彻总体国家安全观，深入推进平安中国建设；二是坚持严格公正司法，加强人权司法保障；三是深入贯彻新发展理念，服务保障经济社会持续健康发展；四是坚持以人民为中心的发展思想，努力满足人民群众日益增长的多元司法需求；五是攻坚克难，“基本解决执行难”取得重大进展；六是深化司法体制改革，促进审判体系和审判能力现代化；七是深入推进智慧法院建设，开放动态透明便民的阳光司法机制基本形成；八是坚持全面从严治党、从严治院，建设忠诚干净担当的人民法院队伍；九是自觉接受监督，不断改进人民法院工作。
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved </div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/youdaoSlides/js/jquery-1.10.1.min.js"></script>
    <script src="../../lib/slides.jquery.js"></script>
    <script src="../../lib/youdaoSlides/js/idangerous.swiper.min.js"></script>
    <script>
        jQuery(function () {
            // slides start
            jQuery('#slides').slides({
                container: 'slides_container',
                preload: true,
                play: 4000,
                pause: 1500,
                hoverPause: true,
                effect: 'slide',
                slideSpeed: 850,
            });
            // slides end

            //gx_section1 gx_tab start
            jQuery('.gx_section1 .gx_tab>ul>li').click(function () {
                var index = jQuery(this).index();
                jQuery(this).addClass('on').siblings().removeClass('on');
                jQuery('.gx_section1 .gx_tab_contant .gx_tab_panle').eq(index).show().siblings().hide();
            })
            //gx_section1 gx_tab end

            //gx_section2 gx_tab start
            jQuery('.gx_section2 .gx_tab>ul>li').click(function () {
                var index = jQuery(this).index();
                jQuery(this).addClass('on').siblings().removeClass('on');
                jQuery('.gx_section2 .gx_tab_contant .gx_tab_panle').eq(index).show().siblings().hide();
            })
            //gx_section2 gx_tab end

            //gx_yq_slides start
            var ydSwiper = new Swiper('#gx_yq_slides', {
                centeredSlides: true,
                slidesPerView: 'auto',
                loop: true, //可选选项，开启循环,
                autoplay: 5000,
            })
            jQuery('.swiper-button-prev').on('click', function (e) {
                e.preventDefault()
                ydSwiper.swipePrev()
            })
            jQuery('.swiper-button-next').on('click', function (e) {
                e.preventDefault()
                ydSwiper.swipeNext()
            })
            //gx_yq_slides end
        });
    </script>
</body>

</html>