<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>企业综合信息</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menhu/qy_list.css">
</head>
<style>
</style>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="index.html"> 首页</a>
                        </li>
                        <li>
                            <a href="news.html"> 新闻资讯</a>
                        </li>
                        <li>
                            <a href=""> 技术支撑</a>
                        </li>
                        <li>
                            <a href="./qy_list.html"> 企业综合信息</a>
                        </li>
                        <li>
                            <a href="wbzs.html"> 外包知识</a>
                        </li>
                        <li>
                            <a href="zcfg.html"> 政策法规</a>
                        </li>

                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container clearfix">
            <div class="gx_left">
                <div class="gx_tab">
                    <div class="gx_list1">


                        <span> 所在城市：</span>
                        <ul>
                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li>
                                <a href="">南宁</a>
                            </li>
                            <li>
                                <a href="">北京</a>
                            </li>
                            <li>
                                <a href="">上海</a>
                            </li>
                            <li>
                                <a href="">杭州</a>
                            </li>
                        </ul>
                    </div>

                    <div class="gx_list2">
                        <span> 行业领域：</span>
                        <ul class="">

                            <li class="on">
                                <a href="">全部</a>
                            </li>
                            <li>
                                <a href="">电子商务</a>
                            </li>
                            <li>
                                <a href="">电子商务</a>
                            </li>
                            <li>
                                <a href="">电子商务</a>
                            </li>
                            <li>
                                <a href="">电子商务</a>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="gx_qy_list">
                    <ul>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                <div class="gx_qy_content">
                                    <h4>天猫</h4>
                                    <p>
                                        天猫 - 专业线上综合购物平台，全球消费者挚爱的品质购物之城！旨在引领中国消费者第一时间发现和体验全球化、更优质的生活方式，提前开启趋势中的理想生活！理想生活，上天猫！
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gx_right">
                <div class="gx_wt">
                    <h4>遇到了问题？</h4>
                    <p>
                        遇到任何问题，直接找到我们，我们将竭诚为你解决问题。
                    </p>
                    <div class="gx_text-right">
                        <a href="" class="gx_kf">QQ联系</a>
                    </div>
                </div>
                <div class="gx_hot">
                    <h4>
                        热门公司
                    </h4>
                    <div class="gx_hot_list">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../img/menhu/qy_list/yq.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved </div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>

    <script>
    </script>
</body>

</html>