<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>政策法规</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menhu/news.css">
</head>
<style>
</style>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href="index.html"> 首页</a>
                        </li>
                        <li>
                            <a href="news.html"> 新闻资讯</a>
                        </li>
                        <li>
                            <a href=""> 技术支撑</a>
                        </li>
                        <li>
                            <a href="qy_list.html"> 企业综合信息</a>
                        </li>
                        <li>
                            <a href="wbzs.html"> 外包知识</a>
                        </li>
                        <li>
                            <a href="./zcfg.html"> 政策法规</a>
                        </li>

                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container clearfix">
            <div class="gx_right">
                <div class="gx_shadow">
                    <div class="gx_title">
                        <span>公告政策</span>
                        <a class="gx_more" href="">
                            <span>更多</span>
                        </a>

                    </div>
                    <div class="gx_gg_list">
                        <ul>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <a href=""> 南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gx_tab gx_shadow">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="../../img/menhu/news/6.png" alt="">
                                <p>产业信息</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="../../img/menhu/news/3.png" alt="">
                                <p>外包动态</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="../../img/menhu/news/7.png" alt="">
                                <p>产业信息</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="../../img/menhu/news/5.png" alt="">
                                <p>园区展示</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="../../img/menhu/news/4.png" alt="">
                                <p>下载中心</p>
                            </a>
                        </li>
                    </ul>
                </div>




                <div class="gx_adv1">
                    <a href="">
                        <img width="100%" src="../../img/menhu/news/1.png" alt="">
                    </a>
                </div>
                <div class="gx_adv2">
                    <a href="">
                        <img width="100%" src="../../img/menhu/news/2.png" alt="">
                    </a>
                </div>

            </div>
            <div class="gx_left">
                <div class="gx_shadow">
                    <div class="gx_title">
                        <span>政策法规</span>
                    </div>
                    <!-- <div class="gx_banner">
                        <img src="./img/news/banner.png" width="100%" alt="">
                    </div> -->
                    <div class="gx_new_list">
                        <ul>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                            <li>
                                <span class="pull_right">2018-12-10</span>
                                <a href="">南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会南宁市商务局召开党的十九大精神宣讲报告会</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="gx_footer">
        <div class="gx_yq_link">
            <div class="gx_container">
                <h3>友情链接</h3>
                <div class="gx_fz_17">
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>
                    <a href="">广西金岸网络科技有限公司</a>

                </div>
            </div>
        </div>
        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>XXXXX版权所有 Copyright©XXX.com All Rgith Reserved </div>
            <div>客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任</div>
            <div>广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号</div>

        </div>
    </div>
    <script src="../../lib/youdaoSlides/js/jquery-1.10.1.min.js"></script>

    <script>
        jQuery(function () {
            jQuery('.gx_tab li').mousemove(function () {
                jQuery(this).addClass('on').siblings().removeClass('on');
            }).mouseout(function () {
                jQuery(this).removeClass('on');
            })
        });
    </script>
</body>

</html>