<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>发布融资</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/tourongzi/fbrz.css" />
    <link rel="stylesheet" href="../../lib/select2/dist/css/select2.min.css">
    <style>
    </style>
</head>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">信息交流</a>
                        </li>
                        <li>
                            <a href=""> 投融资资讯</a>
                        </li>
                        <li>
                            <a href=""> 融资知识</a>
                        </li>
                        <li>
                            <a href=""> 融资中心</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container">
            <div class="gx_panle">
                <div class="gx_panle_header">
                    <div class="gx_title">
                        发布融资
                        <p>你的融资信息不会透露给任何第三方，我们会与您联系确认合适公开的项目信息。</p>
                    </div>

                </div>
                <form action="">
                    <div class="gx_panle_body">
                        <div class="gx_section1">
                            <label for="">项目名称</label>
                            <input type="text">
                            <label for="">项目类型</label>
                            <select name="" id="" class="select2">
                                <option value="">1</option>
                                <option value="">1</option>
                                <option value="">1</option>

                            </select>
                            <label for="">项目预算*</label>
                            <input type="text" class="gx_w165"> 元
                            <label for="">项目周期</label>
                            <input type="text" class="gx_w165"> 天
                            <label for="">投标人*</label>
                            <input type="text" class="gx_w165">
                            <label for="">联系方式*</label>
                            <input type="text" class="gx_w165">
                            <label for="">截至日期</label>
                            <input type="text" class="gx_w165" onClick="WdatePicker()">
                            <label for="">项目描述*</label>
                            <div style="width: 850px;border: 1px solid;height: 250px;">富文本编辑器</div>

                            <label for="">附件</label>
                            <label class="upload">上传
                                <input type="file">
                            </label>



                        </div>
                    </div>
                    <div class="gx_panle_footer">
                        <button class="gx_yl_btn">预览</button>
                        <button type="submit">发布项目</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="gx_footer">

        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>
                XXXXX版权所有 Copyright&copy;XXX.com All Rgith Reserved
            </div>
            <div>
                客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任
            </div>
            <div>
                广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号
            </div>
        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>
    <script src="../../lib/select2/dist/js/select2.full.min.js"></script>
    <script src="../../lib/My97DatePicker/WdatePicker.js"></script>
    <script>
        $(function () {
            jQuery('.select2').select2({
                minimumResultsForSearch: Infinity
            });
        })
    </script>

</body>

</html>