<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>融资知识</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/tourongzi/index.css" />
    <style>
    </style>
</head>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">信息交流</a>
                        </li>
                        <li>
                            <a href=""> 投融资资讯</a>
                        </li>
                        <li>
                            <a href=""> 融资知识</a>
                        </li>
                        <li>
                            <a href=""> 融资中心</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_jfb_slides">
            <!-- slides start -->

            <div id="slides">
                <div class="slides_container">
                    <div class="slide_item">
                        <img src="../../img/tourongzi/index/banner_01.jpg" width="" height="" alt="">
                    </div>
                    <div class="slide_item">
                        <img src="../../img/tourongzi/index/banner_01.jpg" width="" height="" alt="">
                    </div>
                    <div class="slide_item">
                        <img src="../../img/tourongzi/index/banner_01.jpg" width="" height="" alt="">
                    </div>

                </div>
                <div class="slideControl">

                    <ul class="pagination">

                        <li class="">
                            <a href="#" rel="0"></a>
                        </li>

                        <li class="">
                            <a href="#" rel="1"></a>
                        </li>

                        <li class="">
                            <a href="#" rel="2"></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- slides end -->
        </div>

        <div class="gx_section1">
            <div class="gx_container">
                <div class="gx_item">
                    <img src="../../img/tourongzi/fbrz/fb.png" width="40" height="40" alt="">
                    <div class="gx_fbrz">发布融资</div>
                </div>
                <div class="gx_item">
                    <img src="../../img/tourongzi/index/trz.png" width="40" height="40" alt="">
                    <div class="gx_rzzx">融资中心</div>
                </div>
                <div class="gx_item">

                    <div class="gx_lxfs">
                        <div class="gx_tel">
                            电话：0379-66666666
                        </div>
                        <div class="gx_email">
                            邮箱：xxx@xxx.com
                        </div>
                    </div>

                    <a href="" class="gx_kf">QQ联系</a>
                </div>
            </div>
        </div>


        <div class="gx_section2">
            <div class="gx_container">
                <h1>提供你所需要的完整服务</h1>
                <ul>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/xm.png" alt="">
                            <div>项目</div>
                            <p>为服务商提供100%人工复核的融资信息</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/zs.png" alt="">
                            <div>优质</div>
                            <p>为需求方匹配信用良好、交付能力强的服务</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/aq.png" alt="">
                            <div>安全性</div>
                            <p>完整的在线交易流程支持，安全后顾无忧</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gx_section3">
            <div class="gx_container">
                <h1>优质融商</h1>
                <ul>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/tourongzi/index/1.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gx_footer">

        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>
                XXXXX版权所有 Copyright&copy;XXX.com All Rgith Reserved
            </div>
            <div>
                客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任
            </div>
            <div>
                广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号
            </div>
        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>
    <script src="../../lib/slides.jquery.js"></script>
    <script src="../../lib/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        jQuery(function () {
            // slides start
            jQuery('#slides').slides({
                container: 'slides_container',
                preload: true,
                play: 4000,
                pause: 1500,
                hoverPause: true,
                effect: 'slide',
                slideSpeed: 850,
            });
            // slides end


        });
    </script>

</body>

</html>