<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>融资知识</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/tourongzi/xm_info.css" />
    <style>
    </style>
</head>

<body>
    <div class="gx_header">
        <div class="fwpt">
            <div class="fwpt_list">
                <a href="">外包项目服务平台</a>
                <a href="">外包人才服务平台</a>
                <a href="">投融资服务平台</a>
            </div>
        </div>
        <div class="gx_header_wrap">
            <div class="gx_header_content">
                <div class="title_content">
                    <div class="logo">
                        <img src="../../img/menhu/index/logo.jpg" width="55" height="55" alt="logo">
                    </div>
                    <div class="title">南宁高新区服务外包公共服务平台</div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <a class="on" href=""> 首页</a>
                        </li>
                        <li>
                            <a href="">信息交流</a>
                        </li>
                        <li>
                            <a href=""> 投融资资讯</a>
                        </li>
                        <li>
                            <a href=""> 融资知识</a>
                        </li>
                        <li>
                            <a href=""> 融资中心</a>
                        </li>


                    </ul>
                </div>
                <div class="login">
                    <a href="">注册</a>
                    <a href="">登录</a>
                </div>
            </div>

        </div>

    </div>

    <div class="gx_main">
        <div class="gx_container">
            <div class="gx_panle">
                <div class="gx_panle_header">
                    <div class="gx_header_title">
                        南宁高新区服务外包公共服务平台
                        <span>执行中</span>
                    </div>
                    <div class="gx_header_tab">
                        <span>
                            管理平台
                        </span>
                        <span>
                            互联网金融
                        </span>
                    </div>
                    <div class="gx_header_rzje">
                        融资金额：
                        <span>￥75000</span>
                    </div>
                    <div class="gx_header_lb">
                        类别：
                        <span>IT</span>
                        <span>网站</span>
                        <span>软件外包</span>
                    </div>
                    <div class="gx_header_zt">
                        融资主体：
                        <span>企业</span>
                    </div>
                    <div class="gx_header_fs">
                        融资方式：
                        <span>股权融资</span>
                    </div>
                </div>
                <div class="gx_panle_body">
                    <div class="gx_body_title">
                        <span>项目简介</span>
                    </div>
                    <div class="gx_jj_content">
                        距清明节还有不到半个月的时间，3月24日上午，南宁市殡葬服务管理处组织开展南宁市殡仪馆公众开放日活动，来自社会各界的80多名市民代表走进殡仪馆，“零距离”感受人生最后一站。据悉，南宁市殡仪馆的冷藏化妆车间，是有史以来首次向公众开放。活动结束后，不少市民表示没有想象中那么害怕，反而增加了对这个行业的了解和理解，也增添了对生命的敬畏。图为参观者在模拟告别仪式上为“逝者”鞠躬。记者
                        罗暘摄（广西新闻网-南国早报） 距清明节还有不到半个月的时间，3月24日上午，南宁市殡葬服务管理处组织开展南宁市殡仪馆公众开放日活动，来自社会各界的80多名市民代表走进殡仪馆，“零距离”感受人生最后一站。据悉，南宁市殡仪馆的冷藏化妆车间，是有史以来首次向公众开放。活动结束后，不少市民表示没有想象中那么害怕，反而增加了对这个行业的了解和理解，也增添了对生命的敬畏。图为参观者在模拟告别仪式上为“逝者”鞠躬。记者
                        罗暘摄（广西新闻网-南国早报） 距清明节还有不到半个月的时间，3月24日上午，南宁市殡葬服务管理处组织开展南宁市殡仪馆公众开放日活动，来自社会各界的80多名市民代表走进殡仪馆，“零距离”感受人生最后一站。据悉，南宁市殡仪馆的冷藏化妆车间，是有史以来首次向公众开放。活动结束后，不少市民表示没有想象中那么害怕，反而增加了对这个行业的了解和理解，也增添了对生命的敬畏。图为参观者在模拟告别仪式上为“逝者”鞠躬。记者
                        罗暘摄（广西新闻网-南国早报）
                        <br>
                        <br>
                        <div class="gx_text-center">
                            <img src="../../img/tourongzi/xm_info/x_03.jpg" alt="">
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="gx_body_title">
                        <span>项目详情</span>
                    </div>
                    <div class="gx_xq_content">
                        <p>融资金额：5000万</p>
                        <p>融资用途：技术研发、市场推广</p>
                        <p>融资意向：股权融资</p>
                        <p>保障方式：抵押</p>
                        <p>融资期限：5个月</p>
                    </div>
                    <div class="gx_body_title">
                        <span>风险措施</span>
                    </div>
                    <div class="gx_fx_content">
                        <p>风险控制的四种基本方法是：风险回避、损失控制、风险转移何风险自留。</p>
                    </div>
                    <div class="gx_body_title">
                        <span>附件</span>
                    </div>
                    <div class="gx_fj_content">
                        <div class="">
                            南宁高新区服务外包公共服务平台.word
                            <a href="">下载</a>
                        </div>
                        <div class="">
                            南宁高新区服务外包公共服务平台.word
                            <a href="">下载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gx_footer">

        <div class="gx_section1">
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
            <a href="">网站首页</a>
        </div>
        <div class="gx_section2">
            <div>
                XXXXX版权所有 Copyright&copy;XXX.com All Rgith Reserved
            </div>
            <div>
                客户服务、商务合作请致电：XXXXXXX 未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任
            </div>
            <div>
                广西金岸网络科技有限公司 技术支持 备案号：桂ICP备XXXXXX号 桂公网安备 XXXXXXXXX号
            </div>
        </div>
    </div>
    <script src="../../lib/jquery-1.10.1.min.js"></script>
    <script src="../../lib/slides.jquery.js"></script>
    <script src="../../lib/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        jQuery(function () {
            // slides start
            jQuery('#slides').slides({
                container: 'slides_container',
                preload: true,
                play: 4000,
                pause: 1500,
                hoverPause: true,
                effect: 'slide',
                slideSpeed: 850,
            });
            // slides end


        });
    </script>

</body>

</html>