<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/help.css">
    <style>

    </style>
</head>


<body ontouchstart>
    <div class="header">
        <div>
            <img class="back" height="35" src="../../img/back.png" alt=""> 管理地址
        </div>
    </div>
    <div id="address_box" class="weui-tab">
        <div class="weui-media-box weui-media-box_text address_media_box">
            <p class="weui-media-box__desc text-center">最多可生成20个BTC地址,点击可复制</p>
        </div>
        <div class="weui-tab__bd">
            <div class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">1.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">2.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">3.</div>
                        <div class="weui-cell__bd">
                            <p>asdasd12313asdafasgsgasg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-tab footer-menu">
        <button type="subimt" class="weui-btn address_btn weui-btn_primary">添加新地址</button>
    </div>
    <script src="../../jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../../jquery-weui/dist/js/jquery-weui.min.js"></script>
    <script src="../../jquery-weui/dist/lib/fastclick.js"></script>
    <script src="../../jquery-weui/dist/js/swiper.min.js"></script>
    <script src="../../js/common.js"></script>


</body>

</html>