<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../jquery-weui/dist/lib/weui.min.css">
    <link rel="stylesheet" href="../../jquery-weui/dist/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../lib/jquery-enlargement/dist/zoomify.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/caiwu.css">
    <style>

    </style>
</head>


<body ontouchstart>
    <div class="header">
        <div>
            财务
            <a href="details.html" class="wy-help">明细</a>
        </div>
    </div>
    <div id="wy-box" class="weui-tab">

        <div class="weui-navbar wy-navbar">
            <a href="javascript:;" class="weui-navbar__item wy-nitem weui-bar__item--on">
                BTC
            </a>
            <a href="javascript:;" class="weui-navbar__item wy-nitem">
                ETH
            </a>
            <a href="javascript:;" class="weui-navbar__item wy-nitem">
                BCH
            </a>
        </div>
        <div id="wy-caiwu_box" class="weui-tab__bd">
            <div class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div id="slide_box1" class="swiper-slide">
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <img src="">
                                    </div>
                                    <div class="weui-cell__bd">
                                        <p>总资产</p>
                                    </div>
                                    <div class="weui-cell__ft">฿0.00000000</div>
                                </div>
                                <div class="weui-cell">
                                    <div class="weui-cell__hd wy-kyzc">
                                        可用资产
                                        <span>฿0.00000000</span>
                                    </div>
                                    <div class="weui-cell__bd wy-djzc">
                                        冻结资产
                                        <span>฿0.00000000</span>
                                    </div>

                                </div>
                            </div>
                            <div class="weui-navbar wy-btcqb">
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem weui-bar__item--on">
                                    充值BTC
                                </a>
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem">
                                    提币BTC
                                </a>
                            </div>
                            <div id="wy-btc_box" class="weui-tab__bd">
                                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                                    <div class="weui-row">
                                        <div class="weui-col-100 ptb30 text-center">
                                            <div>向如下地址汇入BTC完成充值
                                                <img src="../../img/ewm.png" class="vcode_img" width="20px" alt="">
                                            </div>
                                            <div class="text-red">
                                                BTC地址只能充值BTC资产
                                            </div>
                                            <div class="text-red">
                                                任何充入BTC地址的非BTC资产不可找回
                                            </div>
                                            <div class="mtb15">
                                                1ASDASF#%#@#$ASGASGASG
                                            </div>
                                            <div class="dr_btn weui-row">
                                                <div class="weui-col-50">
                                                    <a href="javascript:;" class="weui-btn weui-btn_plain-default">一键复制</a>
                                                </div>
                                                <div class="weui-col-50">
                                                    <a href="../caiwu/address.html" class="weui-btn weui-btn_plain-default">管理地址</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <div id="" class="weui-tab__bd-item">
                                    <div class="weui-cells weui-cells_form">
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">发送地址</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入BTC地址">
                                            </div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">BTC数量</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="BTC数量不足">
                                            </div>
                                        </div>
                                        <div class="wy-pwd weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">资金密码</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入资金密码">
                                            </div>
                                            <div class="weui-cell__ft">
                                                <a href="javascript:;"> 忘记密码？</a>
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="备注(仅在交易明细展示)">
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <button type="subimt" class="weui-btn weui-btn_primary">确认发送</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="slide_box2" class="swiper-slide">
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <img src="">
                                    </div>
                                    <div class="weui-cell__bd">
                                        <p>总资产</p>
                                    </div>
                                    <div class="weui-cell__ft">฿0.00000000</div>
                                </div>
                                <div class="weui-cell">
                                    <div class="weui-cell__hd wy-kyzc">
                                        可用资产
                                        <span>฿0.00000000</span>
                                    </div>
                                    <div class="weui-cell__bd wy-djzc">
                                        冻结资产
                                        <span>฿0.00000000</span>
                                    </div>

                                </div>
                            </div>
                            <div class="weui-navbar wy-btcqb pt10">
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem weui-bar__item--on">
                                    充值BTC
                                </a>
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem">
                                    提币BTC
                                </a>
                            </div>
                            <div id="wy-btc_box2" class="weui-tab__bd">
                                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                                    <div class="weui-row">
                                        <div class="weui-col-100 ptb30 text-center">
                                            <div>向如下地址汇入BTC完成充值
                                                <img src="../../img/ewm.png" class="vcode_img" width="20px" alt="">
                                            </div>
                                            <div class="text-red">
                                                BTC地址只能充值BTC资产
                                            </div>
                                            <div class="text-red">
                                                任何充入BTC地址的非BTC资产不可找回
                                            </div>
                                            <div class="mtb15">
                                                1ASDASF#%#@#$ASGASGASG
                                            </div>
                                            <div class="dr_btn weui-row">
                                                <div class="weui-col-50">
                                                    <a href="javascript:;" class="weui-btn weui-btn_plain-default">一键复制</a>
                                                </div>
                                                <div class="weui-col-50">
                                                    <a href="../caiwu/address.html" class="weui-btn weui-btn_plain-default">管理地址</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <div id="" class="weui-tab__bd-item">
                                    <div class="weui-cells weui-cells_form">
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">发送地址</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入BTC地址">
                                            </div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">BTC数量</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="BTC数量不足">
                                            </div>
                                        </div>
                                        <div class="wy-pwd weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">资金密码</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入资金密码">
                                            </div>
                                            <div class="weui-cell__ft">
                                                <a href="javascript:;"> 忘记密码？</a>
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="备注(仅在交易明细展示)">
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <button type="subimt" class="weui-btn weui-btn_primary">确认发送</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="slide_box3" class="swiper-slide">
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <img src="">
                                    </div>
                                    <div class="weui-cell__bd">
                                        <p>总资产</p>
                                    </div>
                                    <div class="weui-cell__ft">฿0.00000000</div>
                                </div>
                                <div class="weui-cell">
                                    <div class="weui-cell__hd wy-kyzc">
                                        可用资产
                                        <span>฿0.00000000</span>
                                    </div>
                                    <div class="weui-cell__bd wy-djzc">
                                        冻结资产
                                        <span>฿0.00000000</span>
                                    </div>

                                </div>
                            </div>
                            <div class="weui-navbar wy-btcqb pt10">
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem weui-bar__item--on">
                                    充值BTC
                                </a>
                                <a href="javascript:;" onclick="tabs(this)" class="weui-navbar__item wy-nitem">
                                    提币BTC
                                </a>
                            </div>
                            <div id="wy-btc_box3" class="weui-tab__bd">
                                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                                    <div class="weui-row">
                                        <div class="weui-col-100 ptb30 text-center">
                                            <div>向如下地址汇入BTC完成充值
                                                <img src="../../img/ewm.png" class="vcode_img" width="20px" alt="">
                                            </div>
                                            <div class="text-red">
                                                BTC地址只能充值BTC资产
                                            </div>
                                            <div class="text-red">
                                                任何充入BTC地址的非BTC资产不可找回
                                            </div>
                                            <div class="mtb15">
                                                1ASDASF#%#@#$ASGASGASG
                                            </div>
                                            <div class="dr_btn weui-row">
                                                <div class="weui-col-50">
                                                    <a href="javascript:;" class="weui-btn weui-btn_plain-default">一键复制</a>
                                                </div>
                                                <div class="weui-col-50">
                                                    <a href="../caiwu/address.html" class="weui-btn weui-btn_plain-default">管理地址</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <div id="" class="weui-tab__bd-item">
                                    <div class="weui-cells weui-cells_form">
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">发送地址</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入BTC地址">
                                            </div>
                                        </div>
                                        <div class="weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">BTC数量</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="BTC数量不足">
                                            </div>
                                        </div>
                                        <div class="wy-pwd weui-cell">
                                            <div class="weui-cell__hd">
                                                <label class="weui-label">资金密码</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="请输入资金密码">
                                            </div>
                                            <div class="weui-cell__ft">
                                                <a href="javascript:;"> 忘记密码？</a>
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <input class="weui-input" type="text" placeholder="备注(仅在交易明细展示)">
                                            </div>
                                        </div>
                                        <div class="weui-cell">

                                            <div class="weui-cell__bd">
                                                <button type="subimt" class="weui-btn weui-btn_primary">确认发送</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="weui-tab footer-menu">
        <div class="weui-tabbar">
            <a href="../../index.html" class="weui-tabbar__item ">
                <!-- <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span> -->
                <div class="weui-tabbar__icon">
                    <img src="../../img/jiaoyi1.png" alt="">
                </div>
                <p class="weui-tabbar__label">交易</p>
            </a>
            <a href="../dingdan/dingdan.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../img/dindan.png" alt="">
                </div>
                <p class="weui-tabbar__label">订单</p>
            </a>
            <a href="javascript:;" data-target="#fabu" class="open-popup weui-tabbar__item">
                <div id="fabu_btns" class="weui-tabbar__icon">
                    <img src="../../img/jia.png" alt="">
                </div>
            </a>
            <a href="./caiwu.html" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="../../img/qianbao.png" alt="">
                </div>
                <p class="weui-tabbar__label">财务</p>
            </a>
            <a href="../user/user.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../img/user.png" alt="">

                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
    <div id="fabu" class="weui-popup__container popup-bottom">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="weui-flex" style="text-align: center;">
                <div class="weui-flex__item">
                    <a href="../adv/fabu.html">
                        <div class="fabu_lo">
                            <img src="../../img/pays.png" width="32" alt="">
                        </div>
                        <p>发布购买广告</p>
                    </a>
                </div>
                <div class="weui-flex__item">
                    <a href="../adv/fabu.html">
                        <div class="fabu_lo wy-out">
                            <img src="../../img/chushou.png" width="32" alt="">
                        </div>
                        <p>发布出售广告</p>
                    </a>
                </div>
            </div>
            <div class="weui-flex close_box" style="text-align: center;">
                <div class="weui-flex__item">
                    <a href="javascript:;" class='close-popup'>
                        <div class="close_btn">
                            <img src="../../img/jia.png" width="100%" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="../../jquery-weui/dist/lib/jquery-2.1.4.js"></script>
    <script src="../../jquery-weui/dist/js/jquery-weui.min.js"></script>
    <script src="../../jquery-weui/dist/lib/fastclick.js"></script>
    <script src="../../jquery-weui/dist/js/swiper.min.js"></script>
    <script src="../../lib/jquery-enlargement/dist/zoomify.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/my-swiper.js"></script>
    <script>
        $('.vcode_img').zoomify();
    </script>
</body>

</html>