body{
    background-color: #f3f3f3;
}
.gx_container {
    padding: 20px 0;
}

.gx_right {
    width: 300px;
    float: right;
}

.gx_left {
    /*margin-right: 300px;*/
    /*padding-right: 15px;*/
    float: left;
    width: 885px;
}

.gx_left .gx_tab {
    background-color: white;
    padding: 20px;
}

.gx_left .gx_tab .gx_list1, .gx_left .gx_tab .gx_list2 {
    overflow: hidden;
}

.gx_left .gx_tab .gx_list1 ul, .gx_left .gx_tab .gx_list2 ul {
    overflow: hidden;
}

.gx_left .gx_tab .gx_list1 > span, .gx_left .gx_tab .gx_list2 > span {
    line-height: 35px;
    float: left;
    font-size: 17px;
    color: #707070;
}

.gx_left .gx_tab .gx_list1 li, .gx_left .gx_tab .gx_list2 li {
    float: left;
    line-height: 35px;
}

.gx_left .gx_tab .gx_list1 li a, .gx_left .gx_tab .gx_list2 li a {
    padding: 2px 10px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

.gx_left .gx_tab .gx_list1 li.on a, .gx_left .gx_tab .gx_list2 li.on a {
    background-color: #1274b5;
    color: white;
}

.gx_left .gx_qy_list {
    margin: 20px 0;
    overflow: hidden;
}

.gx_left .gx_qy_list li {
    float: left;
    width: 50%;
}

.gx_left .gx_qy_list li > div {
    overflow: hidden;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}

.gx_left .gx_qy_list li:nth-child(odd) > div {
    margin-right: 10px;
}

.gx_left .gx_qy_list li:nth-child(even) > div {
    margin-left: 10px;
}

.gx_left .gx_qy_list img {
    width: 94px;
    height: 94px;
    float: left;
}

.gx_left .gx_qy_list .gx_qy_content {
    margin-left: 94px;
    padding: 0 10px;
}

.gx_left .gx_qy_list .gx_qy_content > p {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.gx_left .gx_qy_list h4{
    font-size: 17px;
}
.gx_right .gx_wt {
    padding: 15px;
    background-color: white;
}

.gx_right .gx_wt p {
    margin-top: 5px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
}

.gx_right .gx_wt .gx_kf {
    background-color: #6f84d6;
    color: white;
    padding: 2px 10px;
    border-radius: 25px;
    font-size: 14px;
}
.gx_right .gx_wt h4,.gx_right .gx_hot h4{
    font-size: 17px;
}
.gx_right .gx_hot {
    border-top: 1px solid #bebebe;
    padding: 15px;
    background-color: white;
}
.gx_hot_list{
    overflow: hidden;
    margin-top: 10px;
}
.gx_right .gx_hot_list li {
    float: left;
    width: 25%;
}

.gx_right .gx_hot_list li img {
    width: 67.5px;
    height: 67.5px;
    display: block;
}
