

.gx_section1,
.gx_section3 {
    padding: 20px 0 25px;
}

.gx_section1 .gx_main-left {
    width: 400px;
    float: left;
}

.gx_section1 .gx_main-right {
    float: right;
    width: 220px;
}

.gx_section1 .gx_main-middle {
    margin: 0 220px 0 400px;
    padding: 0 20px;
}

.gx_section1 .gx_tab {
    overflow: hidden;
}

.gx_section1 .gx_tab ul li {
    float: left;
}

.gx_section1 .gx_main-middle .gx_tab {
    border-bottom: 1px solid #bebebe;
    background-color: #fbfbfb;
    line-height: 45px;
    font-size: 17px;
}

.gx_section1 .gx_main-middle .gx_tab li > a {
    display: block;
    padding: 0 20px;
    color: inherit;
}

.gx_section1 .gx_main-middle .gx_tab li.on {
    background-color: #1274b5;
    color: white !important;
    text-align: center;
}

.gx_section1 .gx_main-middle .gx_tab li.on:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1274b5;
    margin-left: -10px;
    margin-left: 42px\9;
}

.gx_search {
    width: 575px;
    margin: 25px auto;
    overflow: hidden;
}

.gx_search-hd {
    height: 34px;
    background-color: #1274b5;
    padding: 3px;
    position: relative;
}

.gx_search-bg {
    width: 495px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
}

.gx_search-hd .gx_search-input {
    width: 495px;
    height: 22px;
    line-height: 22px;
    padding: 6px 0;
    background: none;
    text-indent: 10px;
    border: 0;
    outline: none;
    position: relative;
    left: -37px;
    top: 0;
    font-size: 16px;
    z-index: 5;
}

.gx_search-hd .gx_btn-search {
    width: 70px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 0;
    z-index: 6;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: none;
    outline: none;
}

.gx_section1 .gx_main-middle .gx_tab_contant {
    background-color: #ffffff;
}

.gx_section1 .gx_main-middle .gx_tab_contant .gx_tab_panle {
    padding: 10px 20px;
}

.gx_section1 .gx_main-middle .gx_tab_contant .gx_tab_panle li {
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gx_section1 .gx_main-right .gx_title,
.gx_section3 .gx_main-right .gx_title,
.gx_section3 .gx_main-left .gx_title,
.gx_section3 .gx_main-middle .gx_title {
    border-bottom: 1px solid #bebebe;
    background-color: #fbfbfb;
    line-height: 45px;
    padding: 0 10px;
}

.gx_section1 .gx_main-right .gx_title > span,
.gx_section3 .gx_main-right .gx_title > span,
.gx_section3 .gx_main-left .gx_title > span,
.gx_section3 .gx_main-middle .gx_title > span {
    border-left: 3px solid #1274b5;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.gx_section1 .gx_main-right .gx_gg_list {
    padding: 10px;
    background-color: #ffffff;
}

.gx_section1 .gx_main-right .gx_gg_list li {
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gx_section2 .gx_tab > ul > li {
    float: left;
    width: 33.333%;
    text-align: center;
    background-color: #e6e6e6;
}

.gx_section2 .gx_tab > ul > li.on {
    background-color: white;
    margin-top: -5px;
}

.gx_section2 .gx_tab {
    background-color: white;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}

.gx_section2 .gx_tab_contant {
    padding: 15px;
    background-color: white;
}

.gx_section2 .gx_tab_panle tbody tr {
    line-height: 35px;
    text-align: center;
    font-size: 17px;
}

.gx_section3 .gx_main-left {
    width: 350px;
    float: left;
}

.gx_section3 .gx_main-right {
    float: right;
    width: 480px;
}

.gx_section3 .gx_main-middle {
    margin: 0 480px 0 350px;
    padding: 0 20px;
}

.gx_section3 .gx_main-right .gx_gg_list,
.gx_section3 .gx_main-left .gx_gg_list,
.gx_section3 .gx_main-middle .gx_gg_list {
    padding: 10px 20px;
    background-color: #ffffff;
}

.gx_section3 .gx_main-right .gx_gg_list li,
.gx_section3 .gx_main-left .gx_gg_list li,
.gx_section3 .gx_main-middle .gx_gg_list li {
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gx_section3 .gx_more {
    float: right;
}

.gx_section3 .gx_more > span {
    background-color: #6f84d6;
    color: white;
    padding: 2px 10px;
    border-radius: 25px;
    font-size: 14px;
}

.gx_yj_content,
.gx_yq_show,
.gx_yq_link {
    width: 100%;
    min-width: 1200px;
}

.gx_yj_content .gx_yj_body {
    padding: 0 50px;
}

.gx_yj_content {
    background-image: url(../img/index/6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.gx_yj_content h1{
    padding: 35px 0px;
}
.gx_yj_content .gx_yj_body{
    padding-bottom: 35px;
    font-size: 17px;
}

/*slide start*/

.slides_container {
    display: block;
    width: 400px;
    height: 314px;
    overflow: hidden;
}

.slides_container div {
    display: block;
}

#slides .slideControl {
    width: 100%;
    margin: -40px auto 0 -18px;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

#slides .slideControl ul.pagination {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: right;
}

#slides .slideControl ul.pagination li {
    padding: 5px;
    display: inline-block;
    zoom: 1;
}

#slides .slideControl ul.pagination li a {
    width: 5px;
    height: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    background: #bebebe;
}

#slides .slideControl ul.pagination li a:hover,
#slides .slideControl ul.pagination li.current a {
    width: 15px;
    border-radius: 25%;
    background: #fff;
}

#slides .slide_item .slide_title {
    position: absolute;
    margin-top: -40px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    padding-left: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
}

/*slide end*/

.gx_yq_show {
    background-image: url(../img/index/5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.gx_yq_show > h1 {
    padding: 45px 0;
    color: white;
}

.gx_yq_show .slide_left {
    float: left;
    width: 184px;
    height: 254px;
    line-height: 0;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    overflow: hidden;
}

.gx_yq_show .slide_content {
    margin-left: 184px;
    padding: 20px;
    background-color: #6f84d6;
    height: 214px;
    overflow: hidden;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.gx_yq_show .slide_content > h3 {
    color: white;
    border-bottom: 1px solid #ffffff6e;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.gx_yq_show .slide_content > div {
    color: white;
    font-size: 14px;
}

