html,
body,
.gx_login_box {
    height: 100%;
}

.gx_login_box {
    background-image: url(../img/login/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.gx_logo {
    margin: 35px;
}

.gx_logo>img {
    width: 350px;
}

.gx_login_form {
    width: 440px;
    margin: 5% auto;
    background-color: white;
    overflow: hidden;
}

.gx_login_form .gx_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.gx_login_form .gx_section {
    position: relative;
    width: 350px;
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px 20px;
    line-height: 35px;
    margin-top: 15px;
}

.gx_login_form .gx_section>input {
    border: 0;
    outline: 0;
    font-size: 18px;
    width: 270px;
}

.gx_login_form .gx_section>label {
    font-size: 18px;
    width: 75px;
    display: inline-block;
    text-align: right;
}
.gx_dsf{
    text-align: center;
    margin: 30px;
}

.gx_dsf ul li{
    float: left;
    line-height: 0;
}
.gx_dsf ul li img{
    width: 24px;

}