body {
    font-family: "Microsoft YaHei","SimSun","Arial Narrow";
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

a {
    color: #000000;
}

li {
    list-style: none;
}

.img_box {
    line-height: 0;
}

.pull_left {
    float: left;
}

.pull_right {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.dib {
    display: inline-block;
}

.lh0 {
    line-height: 0;
}

.gx_header_wrap {
    padding: 25px 0px;
    background: #fff;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 4px 4px #d7d7d7;

}

.gx_container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.gx_container_full {
    width: 100%;
    min-width: 1200px;
}

.gx_main {
    margin-top: 10px;
    background-color: #f3f3f3;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}

.gx_shadow {
    /* border: 1px solid #bebebe; */
    
    box-shadow: #a7a5a5 1px 1px 10px;
    -moz-box-shadow: #a7a5a5 1px 1px 10px;
    -webkit-box-shadow: #a7a5a5 1px 1px 10px;
}
.gx_mtb30{
    margin-bottom: 30px;
    margin-top: 30px;
}
.gx_hidden {
    display: none;
}

.gx_text-center {
    text-align: center;
}

.gx_text-right {
    text-align: right;
}

.gx_text-red {
    color: red;
}

.gx_fz_17 {
    font-size: 17px;
}

.gx_fz_16 {
    font-size: 16px;
}

.gx_fwb {
    font-weight: bold;
}

.gx_fz_14 {
    font-size: 14px;
}

.gx_fz_15 {
    font-size: 15px;
}

.gx_fz_12 {
    font-size: 12px;
}

.fwpt {
    background: #efefef;
    border-bottom: 1px solid #bebebe;
    width: 100%;
    min-width: 1200px;
}

.fwpt_list {
    width: 1200px;
    margin: 0 auto;
    line-height: 35px;
}

.fwpt_list > a {
    margin-right: 15px;
    font-size: 16px;
}

.gx_header_content {
    width: 1200px;
    margin: 25px auto;
    overflow: hidden;
}

.gx_header_content .nav {
    float: left;
    line-height: 55px;
    font-size: 15px;
}

.gx_header_content .title_content {
    float: left;
    width: 425px;
    line-height: 55px;
    margin: 0 0 0 22px;
}

.gx_header_content .login {
    float: right;

    /* width: 180px; */
    line-height: 55px;
    font-size: 15px;

    /* text-align: right; */
}

.gx_header_content .login > a {
    margin-left: 15px;
}

.gx_header_content .nav > ul > li {
    float: left;
    margin-right: 30px;
}

.gx_header_content .nav > ul > li > a.on {
    padding: 5px 15px;
    background: #1274b5;
    border-radius: 25px;
    color: white;
}

.title_content .title {
    font-size: 21px;
    font-weight: bold;
    margin-left: 75px;
}

.title_content .logo {
    float: left;
    line-height: 0;
}

.gx_yq_link {
    border-top: 1px solid #bebebe;
    padding: 10px 0px 20px 0;
    width: 100%;
    text-align: left;
    min-width: 1200px;
    background-color: white;
}

.gx_yq_link h3 {
    padding: 10px 0px;
}

.gx_yq_link h3 + div > a {
    display: inline-block;
    margin-right: 15px;
}

.gx_footer {
    background-color: #353D43;
    text-align: center;
}

.gx_footer .gx_section1 {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff14;
    border-bottom: 1px solid gray \9;
}

.gx_footer .gx_section2 {
    padding: 20px 0;
}

.gx_footer .gx_section2 > div {
    line-height: 25px;
    color: #f5f5f5ad;
    color: #f3f3f3 \9;
}

.gx_footer .gx_section1 > a {
    color: white;
    padding: 5px;
}

.gx_footer .gx_section1 > a:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 1px solid white;
    border-top: 20px solid white;
    margin-left: 7px;
    margin-top: 1px;
}

.gx_footer .gx_section1 > a:last-child:after {
    border: 0;
}

.gx_col_60 {
    width: 60%;
    float: left;
}

.gx_col_50 {
    width: 50%;
    float: left;
}

.gx_col_40 {
    width: 40%;
    float: left;
}

.gx_col_33 {
    width: 33.33%;
    float: left;
}

.gx_col_30 {
    width: 30%;
    float: left;
}

.gx_col_20 {
    width: 20%;
    float: left;
}

.gx_mrl20 {
    margin: 0 20px;
}

/* 背景色start */
.gx_bg_white {
    background-color: white;
}

.gx_bg_f5f5f5 {
    background-color: #f5f5f5;
}

.gx_bg_f9f9f9 {
    background-color: #f9f9f9;
}

/* 背景色end */

/* 接发包排行榜 */
.gx_right .gx_al_phb {
    background-color: white;
    color: #333;
}

.gx_right .gx_al_phb .gx_phb_title {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.gx_right .gx_al_phb ul li {
    overflow: hidden;
    font-size: 0;
    padding: 10px;
    position: relative;
}

.gx_right .gx_al_phb ul li .gx_qy_logo, .gx_right .gx_al_phb ul li .gx_phb_num {
    float: left;
}

.gx_right .gx_al_phb ul li .gx_qy_logo > img {
    width: 60px;
    height: 60px;
}

.gx_right .gx_al_phb ul li .gx_phb_num {
    font-size: 30px;
    color: #333;
    line-height: 60px;
    padding-right: 10px;
    padding-left: 5px;
}

.gx_right .gx_al_phb ul li .gx_phb_content {
    margin-left: 100px;
}

.gx_right .gx_al_phb .gx_phb_address {
    font-size: 12px;
    line-height: 25px;
}

/* 接发包排行榜 end */

.gx_form {
    font-size: 20px;
}

.gx_form .gx_input > input[type=text], .gx_form .gx_select select {
    border: 0;
    outline: 0;
    width: inherit;
    font-size: inherit;
    height: inherit;
}

.gx_form .gx_input {
    font-size: 16px;
    width: 400px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #e1e1e1;
    padding: 0 20px;
}

.gx_form .gx_select {
    font-size: 16px;
    width: 400px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #e1e1e1;
    padding: 0 20px;
}

.gx_form {
    margin: 20px 0;
}

.gx_form .gx_label {
    margin-bottom: 10px;
}

.gx_form_radio .gx_form_title {
    font-size: 20px;
}

.gx_order_list li {
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 35px;
}

.gx_order_list li > a {
    color: inherit;
    padding: 0 20px;
    display: block;
    border: 1px solid #ededed;
    box-sizing: border-box;
    margin-right: -1px;
}

.gx_order_list li.on > a {
    background-color: #f4f4f4;
}

.gx_search_form {
    float: right;
    line-height: 0;
}

.gx_search_form .gx_search_input {
    line-height: 33px;
    background-color: #f4f4f4;
    border: 1px solid #ededed;
    background-image: url(../img/jiefabao/rwdt/search.png);
    background-repeat: no-repeat;
    background-position: 6px;
}

.gx_search_form .gx_search_input > input {
    border: 0;
    outline: 0;
    font-size: 16px;
    margin-left: 30px;
    background-color: #f4f4f4;
}

.gx_tj {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.gx_tj_list .gx_tjal {
    display: flex;
    overflow: hidden;
    height: 200px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}

.gx_tj_list .gx_tjal > img {
    width: 100%;
    height: auto !important;
    margin: auto;
    vertical-align: middle;
}

.gx_tj_list li {
    margin-top: 10px;
}

.gx_share {
    padding: 0 18px 0 42px;
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    text-align: center;
    color: #666;
    background-image: url(../img/menhu/news_info/details-share.svg);
    background-size: 16px auto;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 12px 9px;
    margin: 15px 0;
}

.gx_rw_table {
    background-color: white;
    padding: 10px 20px;
}

.gx_rw_table caption {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gx_rw_table .f_cv_num {
    font-size: 14px;
}

.gx_rw_table tr {
    text-align: left;
    font-size: 14px;

    /*line-height: 45px;*/
}

.gx_rw_table tbody tr td, .gx_rw_table thead tr th {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px 0;
}

.gx_rw_table tbody tr:last-child td {
    border: 0;
}

.gx_rw_table tr th {
    text-align: left;
}

.gx_rw_table .gx_rw_ck {
    background-color: #6966d8;
    color: white;
    padding: 3px 16px;
    border-radius: 25px;
}

.gx_list_more {
    display: block;
    width: 300px;
    margin: 15px auto;
    background-color: #6966d8;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-size: 17px;
    line-height: 45px;
}

.gx_search {
    width: 575px;
    margin: 25px auto;
    overflow: hidden;
}

.gx_search-hd {
    height: 34px;
    background-color: #1274b5;
    padding: 3px;
    position: relative;
}

.gx_search-bg {
    width: 495px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
}

.gx_search-hd .gx_search-input {
    width: 495px;
    height: 22px;
    line-height: 22px;
    padding: 6px 0;
    background: none;
    text-indent: 10px;
    border: 0;
    outline: none;
    position: absolute;
    left: 3px;
    font-size: 16px;
    z-index: 5;
}

.gx_search-hd .gx_btn-search {
    width: 70px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 0;
    z-index: 6;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: none;
    outline: none;
}


